@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #cca65d;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
}

.event-first-section {
  background-color: #f8f8f8 !important;
  /* margin-top: 2rem; */
}
.news-section {
  margin-top: 6rem;
  padding: 0.3em;
}
.news-title h1 {
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  padding: 0 60px; /* Adjust the value as needed */
  font-size: 33px;
  color: #555555;
  font-weight: 600;
  padding-bottom: 40px;
  font-family: unset;
}
.new-img img {
  margin: auto;
  width: 50%;
  height: 30rem;
  padding: auto;
  transform: translateX(50%);
}
@media screen and (max-width: 900px) {
  .new-img img {
    height: auto; /* Set height to 'auto' to adjust the height based on content */
    /* Alternatively, you can set height to '0' if you want it to have no height at all */
    /* height: 0; */
  }
  .news-title h1 {
    font-size: 18px;
  }
  .news-para p {
    font-size: 14px;
  }
}
.news-para {
  margin-top: 20px;
}

.news-para p {
  align-items: center;
  justify-content: center;
  font-family: unset;
  color: #555555;
  font-size: 19px;
  padding: 0px; /* Adjust the value as needed */
}

#news-container {
  display: flex !important;
}
