:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: Inter;
  --font-meta: "Meta" Serif OT;
}

/***** header video *****/
.fullscreen-video {
  filter: brightness(50%);
}
.header-video {
  position: relative;
}

.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  max-width: 600px; /* Adjust the max-width as needed */
  word-spacing: wrap;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.carousel-para {
  color: var(--white-color);
  font-family: Meta Serif OT;
  font-size: 50px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%;
  text-align: left;
  opacity: 1;
}

.slick-slide div {
  margin: 0 0.5rem;
  background-color: transparent !important;
  overflow-y: hidden !important;
  opacity: 1;
}
.carousel-overlay .slick-slider {
  margin-bottom: 0; /* Remove default margin-bottom */
}

/***** End header video *****/
.animate__bounceIn {
  animation-name: animate__bounceIn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
/* animation */
@keyframes animate__bounceIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .header-video {
    position: relative;
  }

  .carousel-overlay {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .carousel-para {
    color: var(--white-color);
    font-family: Meta Serif OT;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: 96.023%;
  }
}
@media (min-width: 501px) and (max-width: 1110px) {
  .header-video {
    position: relative;
  }

  .carousel-overlay {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .carousel-para {
    color: var(--white-color);
    font-family: Meta Serif OT;
    font-size: 35px;
    font-style: normal;
    font-weight: 450;
    line-height: 96.023%;
  }
}
