/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

/* Root variables */
:root {
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #cca65d;
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "PT Serif", serif;
}

/* Header video styles */
.fullscreen-video {
  filter: brightness(50%);
}

/* YouTube video container */
.youtube-video {
  position: relative;
  top: 0px;
  padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive design */
  padding-top: 0;
  height: 100px;
  overflow: hidden;
  width: 100%;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Hide YouTube video controls and logo */
.youtube-video:hover .ytp-chrome-top,
.youtube-video:hover .ytp-gradient-bottom,
.youtube-video:hover .ytp-title-link,
.youtube-video:hover .ytp-logo,
.youtube-video:hover .ytp-copylink-button {
  display: none !important;
}

@media (max-width: 768px) {
  .youtube-video {
    position: relative;
    top: 20px;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive design */
    padding-top: 0;
    height: 100px;
    overflow: hidden;
    width: 100%;
  }
}
