@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap');
:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #cca65d;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
  --font-pt-serif: 'PT Serif', serif;
}

.annon-slick{
    width: 50rem;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    background-color: 
    #F8F8F8;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 2rem;
}
.right-event-des h2{
    font-size: 23px;
    max-width: 100% !important;
    color: #555555;
    font-family: var(--font-inter)
}
.right-event-des p{
    color: #555555;
    font-family: var(--font-inter)
}
.annon-caro{
     margin-top: -30% !important;
    /* border: 1px solid #000; */
    padding: 0.6rem;
}

@media screen and (max-width: 570px) {
    .annon-slick{
        width: 32rem;
    }
    .right-event-des h2{
        font-size: 17px;
    }
  }