@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");
:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #cca65d;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
  --font-pt-serif: "PT Serif", serif;
}

.news-alerts {
  margin: auto;
  width: 50%;
  background-color: #edf7e7;
  border-radius: 20px;
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  align-items: center;
}
.news-alert-title {
  color: #3d3d3d;
  font-size: 16px;
  text-transform: capitalize;
  font-family: var(--font-inter);
}

.news-alert-desc {
  color: var(--gray, #232222);
  font-family: var(--font-pt-serif);
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 116.023%; /* 46.409px */
}

@media (max-width: 600px) {
  .news-alerts {
    margin: auto;
    height: auto;
    width: 80%;
    background-color: #edf7e7;
    border-radius: 20px;
    text-align: center;
    margin-top: 2em;
    padding: 0.4em;
    align-items: center;
  }
  .news-alert-title {
    color: #3d3d3d;
    font-size: 12px;
    text-align: center;
  }
  .news-alert-desc {
    color: var(--gray, #232222);
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    line-height: 116.023%; /* 46.409px */
  }
}
