@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");

:root {
  /* color */
  --black-color: #2c2c2c;
  --white-color: #ffffff;
  --gold--color: #cea553;

  /* fonts */
  --font-rubik: "Rubik", sans-serif;
  --font-martel: "Martel", serif;
  --font-inter: "Inter", sans-serif;
}

.footer {
  background-color: var(--black-color);
  padding: 1.6em 1em;
}
.footer .footer-desc {
  padding: 5px;
  margin-top: 5px;
  font-family: var(--font-martel);
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  color: var(--white-color);
  text-align: justify;
}
.footer-nav {
  margin-top: 30px;
  margin-left: 30%;
}

.footer-nav .footer-links {
  text-decoration: none;
  color: var(--white-color);
}
.footer-links h5 {
  font-family: var(--font-rubik);
  font-size: 20px;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-contact h2 {
  margin-top: 30px;
  color: var(--white-color);
  font-size: 22px;
}
.footer-contact p {
  color: var(--white-color);
  font-family: var(--font-rubik);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer-number {
  margin-left: 22px;
}
.footer-address {
  margin-left: 20px;
}
.footer-line {
  border: 1px solid var(--white-color);
}
.footer-copyright {
  color: var(--white-color);
}
.footer-social-icons-list {
  font-size: 20px;
  color: var(--white-color);
  margin: 30px;
  cursor: pointer;
}
.footer-social-icons-list:hover {
  color: var(--gold--color);
}
.footer-address {
  margin-top: -10px;
}
@media (max-width: 991px) {
  .footer-nav {
    margin-left: 0px;
  }
}
