@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root {
  /* colors */
  --white-color: #ffffff;
  --green-color: green;

  /* fonts */
  --font-inter: "Inter", sans-serif;
}

/* Navbar */
.bg-body-tertiary {
  background-color: transparent !important;
}

.nav-links {
  position: relative;
  text-transform: initial;
  padding: 20px;
  margin: 10px;
  font-family: var(--font-inter);
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--white-color) !important;
  z-index: 1;
}
.nav-links:focus,
.nav-links:active {
  color: var(--green-color) !important;
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 42px;
  width: 88%;
  height: 5px;
  background-color: var(--green-color) !important;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links:hover::after {
  transform: scaleX(1);
}
.nav-logo {
  position: relative;
}
.navbar-toggler-white {
  background-color: white !important;
  margin-right: 30px;
}

.nav-carousel {
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.navbar-fixed-top.scrolled .nav-link-black {
  color: #555 !important;
}

.navbar-fixed-top.scrolled {
  background-color: var(--white-color) !important;
  transition: background-color 500ms linear;
  box-shadow: 1px 1px 1px 1px rgb(241, 237, 237);
}

nav.primary-navigation ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  left: -19px;
  text-decoration: none;
  z-index: 2;
}

nav.primary-navigation li a:hover {
  color: #3ca0e7;
}

nav.primary-navigation li:hover {
  cursor: pointer;
}

nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  display: none;
  background: white;
}

nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 280px;
  height: 170px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 3px 5px -3px #d7d6d6;
}
.nav-dropdown-links h5 {
  font-size: 20px;
  color: black;
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  font-size: 22px;
  font-family: var(--font-inter);
  border-style: none;
}
.nav-dropdown-links h5 {
  font-size: 20px;
  font-weight: 400;
}
.nav-dropdown-links h5:hover {
  color: #e0b873;
  transition: all 0.3s linear;
}

@media (max-width: 1000px) {
  .nav-logo {
    width: 220px;
    height: 55px;
  }

  .nav-carousel {
    background: rgba(42, 83, 90, 0.06);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .nav-links {
    color: #d0a356 !important;
    margin-top: -5px;
    height: 2px;
    font-family: var(--font-inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  nav.primary-navigation ul li {
    position: relative;
    top: 10px;
    left: -30px;
  }
  nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 10%;
    top: -80%;
    display: none;
    border-radius: 10px;
    background: white;
    z-index: 3;
  }
  nav.primary-navigation ul li ul h5 {
    text-align: center;
  }
}
