@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@font-face {
  font-family: "meta-serif OT";
  src: url("/Meta\ Serif\ Book.otf");
}
:root {
  /* colors */
  --grey-color: #7d7d7d;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-meta: Meta Serif OT;
}

.grades {
  margin-top: 3em;
  padding: 6em 3em;
}
.grades-header {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grades-digits h2 {
  color: var(--grary-2, #252424);
  font-family: var(--font-inter);
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 10px;
}
.grades-title {
  color: var(--grary-2, #7d7d7d);
  font-family: var(--font-inter);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}

@media (max-width: 500px) {
  .grades-digits h2 {
    font-size: 22px;
  }
}
