/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
    !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/pages/aboutus/AboutUs.css ***!
    \*****************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --light-green-color: #619a46;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "unse";
}

.AboutUspage-header {
  margin-top: 2em;
  text-align: center;
}

.about-Title {
  text-align: center;
  color: #619a46;
  margin-top: 5rem;
}

.about-Title h1 {
  /* font-family: unset; */

  font-family: unset;
  font-weight: 300;
}

.AboutUspage-title {
  color: var(--light-green-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.AboutUspage-desc {
  color: var(--gray, #555);
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  text-align: justify;
  margin-top: 1.5em;
  padding: 1em;
  font-weight: 400;
  line-height: 130%;
  /* 39px */
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
      !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/about/About.css ***!
      \******************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #d2961e;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
  --font-pt-serif: "PT Serif", serif;
}

.about-Title {
  text-align: center;
  color: #619a46;
  margin-top: 5rem;
}

.about-Title h1 {
  /* font-family: unset; */

  font-family: unset;
  font-weight: 300;
}

.about-description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.about-description p {
  text-align: center;
  color: #555555;
  max-width: 70rem;
  align-items: center;
  font-size: 20px;
}

/* .image img{
          width: 100%;
          height: 300px;
      } */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;


}

.btn button {
  color: #619a46;
  background-color: #ffffff;
  /* padding: 7px 20px; */
  border: solid 1px #619a46;
  border-radius: 55px;
  width: auto;
  padding: 0px 0px 0px 20px;
}

.btn2 {
  align-items: left;
  justify-content: center;
  margin-top: 2rem;
  border: 0px;
}

.btn2 button {
  color: #619a46;
  background-color: #ffffff;
  /* padding: 7px 20px; */
  border: solid 1px #619a46;
  border-radius: 55px;
  width: auto;
  padding: 0px 0px 0px 20px;
}

.icon_arrow_abt {
  float: right;
}

.icon_arrow {
  float: left;
  padding: 15px 30px 0px 43px;
}

/* --------------------font family-------------------------------- */

/* Import the Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

/* Apply the Inter font to <p> tags */
.about-description p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  /* 41.6px */
  letter-spacing: 0.52px;
  color: var(--half-dark-text-color, rgba(1, 5, 20, 0.8));
}

/* Apply the Inter font to <button> tags */
.btn button {
  font-family: "Inter", sans-serif;
}

/* about section animations----------- */

.about-Title h1 {
  position: relative;
  animation: fadeLeft 1s ease-in-out forwards;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-description p {
  position: relative;
  animation: fadeBottom 1s ease-in-out forwards;
}

@keyframes fadeBottom {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 500px) {
  .btn button {
    font-size: 13px;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/annoucement/Announcement.css ***!
        \*******************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #d2961e;
  --light-green-color: #619a46;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
  --font-pt-serif: "PT Serif", serif;
}

.news-alerts {
  margin: auto;
  width: 50%;
  height: auto;
  background-color: #edf7e7;
  border-radius: 20px;
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  align-items: center;
}

.news-alert-headertitle {
  color: var(--light-green-color);
  font-family: unset;
  font-size: 40px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}

.news-alert-title {
  color: #3d3d3d;
  font-size: 16px;
  text-transform: capitalize;
  font-family: var(--font-inter);
}

.news-alert-desc {
  color: var(--gray, #232222);
  font-family: unset;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 116.023%;
  /* 46.409px */
}

@media (max-width: 600px) {
  .news-alerts {
    margin: auto;
    height: 220px;
    width: 80%;
    background-color: #edf7e7;
    border-radius: 20px;
    text-align: center;
    margin-top: 2em;
    padding: 0.4em;
    align-items: center;
  }

  .news-alert-headertitle {
    color: var(--light-green-color);
    font-family: unset;
    font-size: 30px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
  }

  .news-alert-title {
    color: #3d3d3d;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
  }

  .news-alert-desc {
    color: var(--gray, #232222);
    font-family: var(--font-inter);
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 116.023%;
    /* 46.409px */
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/carousel/Carousel.css ***!
        \************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #d2961e;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "PT Serif", serif;
}

/***** header video *****/
.fullscreen-video {
  filter: brightness(50%);
}

.header-video {
  position: relative;
}

.carousel-overlay {
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  max-width: 600px;
  /* Adjust the max-width as needed */
  word-spacing: wrap;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.carousel-para p {
  color: var(--white-color);
  font-family: unset;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  opacity: 1;
}

.slick-slide div {
  margin: 0 0.5rem;
  background-color: transparent !important;
  opacity: 1;
}

.carousel-overlay .slick-slider {
  margin-bottom: 0;
  /* Remove default margin-bottom */
}

/***** End header video *****/
.animate__bounceIn {
  animation-name: animate__bounceIn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

/* animation */
@keyframes animate__bounceIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .header-video {
    position: relative;
  }

  .carousel-overlay {
    position: absolute;
    top: 88%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .carousel-para p {
    color: var(--white-color);
    font-family: unset;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: 25px;
  }
}

@media (min-width: 501px) and (max-width: 1110px) {
  .header-video {
    position: relative;
  }

  .carousel-overlay {
    position: absolute;
    top: 70%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .carousel-para p {
    color: var(--white-color);
    font-family: unset;
    font-size: 35px;
    font-style: normal;
    font-weight: 450;
    line-height: 50px;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/header/Header.css ***!
        \********************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root {
  /* colors */
  --white-color: #ffffff;
  --green-color: #91cf73;
  --goldish-color: #dbb56d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 14vh;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.nav-links {
  position: relative;
  /* text-transform: uppercase; */
  padding: 20px;
  margin: 10px;
  margin-top: 2em;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  color: var(--white-color) !important;
  z-index: 1;
}

.nav-links:focus,
.nav-links:active {
  color: var(--green-color) !important;
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 2px;
  top: 45px;
  width: 95%;
  height: 2px;
  background-color: var(--goldish-color) !important;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-links:hover::after {
  transform: scaleX(1);
}

.nav-logo {
  position: relative;
  width: 250px;
  height: auto;
}

.navbar-toggler-white {
  background-color: white !important;
}

.nav-carousel {
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.navbar-fixed-top.scrolled .nav-link-black {
  color: black !important;
}

.navbar-fixed-top.scrolled {
  background-color: var(--white-color) !important;
  transition: background-color 500ms linear;
  box-shadow: 1px 1px 1px 1px rgb(241, 237, 237);
}

nav.primary-navigation ul li {
  list-style: none;
  text-decoration: none;
  position: relative;
  left: -18px;
  bottom: 1px;
  z-index: 2;
}

nav.primary-navigation li:hover {
  cursor: pointer;
}

nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  display: none;
  background: #fffefe;
}

nav.primary-navigation ul li:hover>ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  display: block;
  min-width: 240px;
  height: 150px;
  text-align: left;
  margin-top: -20px;
  border-radius: 5px;
  z-index: 3;
  margin-left: -25px;
  opacity: 1;
}

nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  height: 35px;
  text-align: left;
  font-family: var(--font-inter);
  border-style: none;
}

.nav-dropdown-links h5 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 3px;
  padding: 0.3em;
  border-radius: 3px;
  color: black;
}

.nav-dropdown-links h5:hover {
  color: white;
  background-color: #e7c991;
  opacity: 1;
  transition: all 0.3s linear;
}

/* @media (max-width: 350px) {
        .navbar-toggler-white {
          background-color: white !important;
          margin-right: 32px;
        }
      } */
@media (min-width: 300px) and (max-width: 990px) {
  .navbar {
    width: 100%;
    height: 10vh;
  }

  .nav-logo {
    position: relative;
    top: -10px;
    width: 220px;
    height: 55px;
  }

  .navbar-toggler-white {
    position: relative;
    bottom: 10px;
    background-color: white !important;
  }

  .nav-carousel {
    background-color: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .nav-links {
    color: black !important;
    margin-top: -5px;
    height: 2px;
    font-family: var(--font-inter);
    font-size: 18px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
  }

  nav.primary-navigation ul li {
    position: relative;
    top: 0px;
    left: -33px;
  }

  nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    left: 10%;
    top: -80%;
    display: none;
    border-radius: 10px;
    background: rgb(242, 241, 239);
  }

  nav.primary-navigation ul li ul h5 {
    text-align: left;
    margin-left: 20px;
  }

  nav.primary-navigation ul li:hover>ul,
  nav.primary-navigation ul li ul:hover {
    margin-top: -5px;
    z-index: 3;
    margin-left: -25px;
    opacity: 1;
  }
}

@media (min-width: 989px) and (max-width: 1200px) {
  .navbar {
    width: 100%;
    height: 10vh;
  }

  .nav-logo {
    position: relative;
    top: -10px;
    width: 220px;
    height: 55px;
  }

  .navbar-toggler-white {
    position: relative;
    bottom: 10px;
    background-color: white !important;
  }

  .nav-links {
    color: rgb(233, 229, 229) !important;
    margin-top: -15px;
    height: 2px;
    font-family: var(--font-inter);
    font-size: 17px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
  }

  nav.primary-navigation ul li {
    position: relative;
    top: 0px;
    left: -33px;
  }

  nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    left: 10%;
    top: 120%;
    display: none;
    border-radius: 10px;
    background: rgb(242, 241, 239);
  }

  nav.primary-navigation ul li ul h5 {
    text-align: left;
    margin-left: 20px;
  }

  nav.primary-navigation ul li:hover>ul,
  nav.primary-navigation ul li ul:hover {
    margin-top: -5px;
    z-index: 3;
    margin-left: -25px;
    opacity: 1;
  }

  .nav-dropdown-links h5 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
    padding: 0.3em;
    border-radius: 3px;
    color: black;
  }

  .nav-dropdown-links h5:hover {
    color: white;
    background-color: #e7c991;
    opacity: 1;
    transition: all 0.3s linear;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/deparments/Department.css ***!
        \****************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #d2961e;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
  --font-pt-serif: "PT Serif", serif;
}

.department-section {
  background-color: #f8f8f8;
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
}

.department-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.department-heading h1 {
  color: #619a46;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-family: unset;
}

.department-para p {
  color: #555555;
  height: auto;
  font-family: var(--font-inter);
  font-size: 20px;
  text-align: center;
}

/* -----------carousel side */
.carousel-2 {
  color: #fff;
  padding: 3em;
  background-color: #f8f8f8;
}

.box {
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
  width: 300px !important;
  height: 480px;
  display: flex;
  padding: 0.2em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px !important;
}

.box h3 {
  text-align: center;
}

.slick-slide div {
  padding-bottom: 1rem;
  margin: 0 0rem;
  background-color: #f8f8f8;
}

.slick-dots li.slick-active button:before {
  color: rgb(218, 172, 58) !important;
}

.slick-dots li button:before {
  color: #555555 !important;
  font-size: 0.8rem !important;
  top: 2rem !important;
}

.caro-img img {
  width: 100%;
}

.caro-des {
  color: #484848;
  text-align: center;
  font-family: unset;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.caro-paragraph {
  color: #555555;
  text-align: center;
  padding: 0.3em;
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 400;
}

.caro-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px !important;
}

.caro-btn button {
  border: none;
  border-radius: 55px;
  background-color: #d2961e;
  font-size: 16px;
  padding: 3px 20px;
  color: white;
  font-family: var(--font-inter);
}

.caro-btn button:hover {
  background-color: var(--goldish-color);
}

@media (max-width: 378px) {
  .carousel-2 {
    color: #fff;
    margin: 6px;
    padding: 0.8em;
    background-color: #f8f8f8;
  }

  .box {
    background-color: #f8f8f8;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 310px !important;
    height: 480px;
    border-radius: 25px;
    display: flex;
    padding: 0.2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px !important;
  }
}

@media (min-width: 380px) and (max-width: 500px) {
  .carousel-2 {
    color: #fff;
    margin: 6px;
    padding: 0.8em;
    background-color: #f8f8f8;
  }

  .box {
    background-color: #f8f8f8;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    width: 350px !important;
    height: 480px;
    border-radius: 25px;
    display: flex;
    padding: 0.2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px !important;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/director/Director.css ***!
        \************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #d2961e;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
  --font-pt-serif: "PT Serif", serif;
}

.director {
  width: 100%;
  background-color: #eaf6e4;
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
}

.director-heading h1 {
  padding-bottom: 1rem;
  font-family: unset;
  font-weight: 300;
  display: flex;
  font-size: 1.5rem;

  color: #619a46;
}

/* .director-img img{
          width: 100%;
         
      } */
.director-des {
  margin-top: 3rem;
}

.person-detail {
  margin-top: 1rem;
}

.director-des p {
  max-width: 100%;
  font-size: 18px;
  text-align: justify;
  padding: 0px;
  font-family: unset;
}

.person-detail h4 {
  color: #3b3b3bf9;
  font-family: unset;
  font-weight: 300;
}

.person-detail p {
  color: #555555;
  font-size: 17px;
  font-family: var(--font-inter);
}

.facualies {
  margin-top: 6rem;
  padding-bottom: 6rem !important;
}

.fac-title h1 {
  color: #619a46;
  font-family: unset;
}

.fac-des {
  margin-left: auto;
  margin-right: auto;
}

.fac-des p {
  color: #555555;
  max-width: 80%;
  font-family: var(--font-inter);
  font-size: 20px;
}

.fac-btn {
  margin-top: 1rem;
}

.fac-btn button {
  color: #fff;
  background-color: #d2961e;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  font-family: var(--font-inter);
}

@media (max-width: 768px) {
  .fac-btn button {
    padding: 7px 30px;
    /* Adjust the padding for smaller screens */
  }
}

@media (max-width: 500px) {
  .fac-btn button {
    padding: 7px 15px;
    /* Adjust the padding for even smaller screens */
  }

  .director-des p {
    font-size: medium;
    margin-top: 0;
    padding: 0.5em;
    max-width: 100%;
  }

  .director-des {
    margin-top: 20px;
  }

  .fac-des p {
    color: #555555;
    max-width: 100%;
    font-family: var(--font-inter);
    font-size: 20px;
    text-align: center;
  }

  .fac-title h1 {
    text-align: center;
  }

  .fac-btn {
    text-align: center;
    font-size: 15px;
  }

  .person-detail {
    text-align: center;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/Events/Event.css ***!
        \*******************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #d2961e;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
  --font-pt-serif: "PT Serif", serif;
}

.event-first-section p {
  color: #555555;
}

.events-section {
  background-color: #f8f8f8;
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
}

.event-title h1 {
  font-size: 40px;
  color: #619a46;
  /* font-family: unset; */
}

.event-des {
  margin-top: 1em;
}

.event-btn {
  margin-top: 1rem;
}

.event-btn button {
  border: none;
  border-radius: 50px;
  padding: 5px 25px 5px;
  color: #fff;
  background-color: rgba(97, 154, 70, 0.75);
  font-family: var(--font-inter);
}

.event-btn-right:hover {
  color: #fff;
  background-color: #d2961e;
  border-radius: 50px;
}

span {
  padding: 0px 10px 0px;
  font-family: var(--font-inter);
}

/* ----event section -2----- */
.event-section-2 {
  background-color: #fff;
  padding-bottom: 3rem !important;
}

.headlibrary {
  margin-top: 6rem !important;
  padding-bottom: 4rem !important;
}

.library {
  margin-top: 0rem;
}

.library h2 {
  color: #619a46;
}

.library p {
  color: #555555;
  max-width: 90%;
}

.library h1 {
  color: #619a46;
  font-family: unset;
  margin-top: 3rem;
  font-weight: 300;
}

.library p {
  color: #555555;
  max-width: 90%;
  font-family: var(--font-inter);
  font-size: 20px;
}

.library-btn {
  color: #fff;
  background-color: #d2961e;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  font-family: var(--font-inter);
}

/* --right side carouse */

.carouselevent {
  position: relative;
  bottom: 0px;
}

.event-slick div {
  margin: 0;
  padding-bottom: 3px;
  background-color: transparent !important;
  opacity: 1;
}

.right-event-caro {
  display: flex !important;
  border-radius: none;
  margin-top: 0rem !important;
  box-shadow: none;
  background-color: #f8f8f8;
}

.event-caro-img img {
  width: 200px;
  border-radius: 15px;
}

.right-event-des {
  width: 100%;
  height: auto;
}

.right-event-des h4 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  font-family: var(--font-inter) !important;
}

.right-event-des p {
  font-size: 16px;
}

.right-learn-btn button {
  border: none;
  border-radius: 50px;
  background-color: #b6acac93;
  font-size: 13px;
  padding: 3px 15px;
  font-family: var(--font-inter);
}

.right-learn-btn button:hover {
  background-color: #d2961e;
  color: #fff;
}

.event-btn-right {
  border: none;
  border-radius: 50px;
  background-color: #b6acac93;
  font-size: 13px;
  padding: 3px 15px;
  font-family: var(--font-inter);
}

.slick-dots {
  position: absolute;
  top: 40%;
  right: -30%;
  transform: translateY(-50%) rotate(90deg);
  display: none !important;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button {
  padding: 0;
  width: 10px;
  /* Adjust the value as needed */
  height: 10px;
  /* Adjust the value as needed */
  border-radius: 50%;
}

/* Optional: Add styling to the active dot */

.slick-prev {
  display: none !important;
}

.slick-next {
  display: none !important;
}

.link-event {
  padding-top: 7rem;
}

/* ----------media query for small screen */
@media screen and (max-width: 550px) {
  .event-title h1 {
    margin-left: 20px;
    font-size: 30px;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: #619a46;
    font-family: unset;
  }

  .right-event-des h4 {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }

  .right-event-des p {
    font-size: 12px;
    text-align: left !important;
  }
}

@media (min-width: 700px) and (max-width: 1000px) {
  .event-title h1 {
    margin-left: 30px;
    font-size: 40px;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: #619a46;
    font-family: unset;
  }
}

@media screen and (max-width: 600px) {
  .carouselevent {
    position: relative;
    bottom: 0px;
  }

  .right-event-caro {
    display: flex !important;
    border-radius: none;
    margin-top: 0rem;
    box-shadow: none;
    background-color: #f8f8f8;
  }

  .event-caro-img img {
    width: 100px !important;
    height: auto;
  }

  .event-btn button {
    border: none;
    border-radius: 7px;
    padding: 5px 7px 5px;
    color: #fff;
    font-size: 10px;
  }

  .event-des h4 {
    font-size: 20px;
  }

  .slick-dots li button {
    display: none;
  }

  .library h1 {
    text-align: center;
  }

  .library p {
    color: #555555;
    max-width: 100%;
    text-align: center;
  }

  .learn-btn-lib {
    text-align: center;
    font-size: 13px;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/footer/Footer.css ***!
        \********************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");

:root {
  /* color */
  --black-color: #2c2c2c;
  --white-color: #ffffff;
  --gold--color: #cea553;
  --green-color: #91cf73;

  /* fonts */
  --font-rubik: "Rubik", sans-serif;
  --font-martel: "Martel", serif;
  --font-inter: "Inter", sans-serif;
}

.footer {
  background-color: #cea553;
  padding: 1em 1em;
}

.footer .footer-desc {
  padding: 5px;
  margin-top: 5px;
  font-family: unset;
  font-style: normal;
  font-weight: 250;
  font-size: 18px;
  color: var(--white-color);
  text-align: justify;
}

.footer-nav {
  margin-top: 30px;
  margin-left: 30%;
}

.footer-nav .footer-links {
  text-decoration: none;
  color: var(--white-color);
}

.footer-links h5 {
  font-family: var(--font-rubik);
  font-size: 20px;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.footer-contact {
  transform: translateX(20%);
}

.footer-contact h2 {
  margin-top: 30px;
  color: var(--white-color);
  font-size: 25px;
}

.footer-contact p {
  color: var(--white-color);
  font-family: var(--font-rubik);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-contact span {
  margin-right: 5px;
}

.footer-number {
  margin-left: 36px;
}

.footer-address {
  margin-left: 20px;
}

.footer-line {
  border: 1px solid var(--white-color);
}

.footer-social-icons-list {
  font-size: 20px;
  color: var(--white-color);
  margin: 0px 0px 20px 30px;
  float: right;
  cursor: pointer;
}

.footer-social-icons-list:hover {
  color: var(--black--color);
}

.footer-address {
  margin-top: -10px;
}

.datahex-link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 3px;
}

.datahex-link:hover {
  color: var(--green-color);
}

@media (max-width: 991px) {
  .footer-contact {
    transform: translateX(0%);
  }

  .footer-logo {
    width: 200px !important;
    height: auto;
  }

  .footer-nav {
    margin-left: 0px;
  }

  .footer .footer-desc {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .footer-social-icons-list {
    margin: 0px 0px 20px 30px;
    float: right;
  }

  .footer-address {
    margin-left: 0px;
  }

  .footer-location {
    margin-top: 12px;
  }

  .footer-contact span {
    margin-right: 5px;
  }

  .footer-number {
    margin-left: 35px;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/ourCourses/Courses.css ***!
        \*************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --lightgreen-color: #619a46;
  --goldish-color: #d2961e;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "PT Serif", serif;
}

.course {
  background-color: #f8f8f8;
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-repeat: no-repeat;
}

.course-headerpage {
  padding: 2em;
}

.course-header h1 {
  color: var(--lightgreen-color);
  font-family: unset;
  font-size: 40px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin-top: 30px;
}

.course-desc {
  color: #747373;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.52px;
  line-height: 130%;
  margin-bottom: 30px;
}

.portfolio {
  padding: 45px 20px;
  margin-top: -30px;
}

#portfolio-flters {
  padding: 0;
  margin: -15px 0 25px 0;
  list-style: none;
  font-size: 0;
  text-align: center;
  background-color: var(--white-color);
}

#portfolio-flters li {
  position: relative;
  color: var(--goldish-color);
  font-family: unset;
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  cursor: pointer;
  display: inline-block;
  justify-content: space-between;
  margin: 5px;
  padding: 8px 15px;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.3s;
}

#portfolio-flters li::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 42px;
  width: 90%;
  height: 5px;
  background-color: var(--lightgreen-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#portfolio-flters li:hover::after {
  transform: scaleX(1);
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
}

.portfolio-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 18.829999923706055px 47.08000183105469px 0px rgba(47, 50, 125, 0.1);
  border: none;
  cursor: pointer;
  outline: none;
  width: 21em;
  height: auto;
  padding: 0.2em;
  margin-top: 1.5em;
}

.portfolio-modal-images {
  position: relative;
  width: auto;
  height: 15em;
  padding: 10px;
  border-radius: 20px;
  transform: translate(0, 0);
  transition: 0.3s;
}

.portfolio-modal-images:hover {
  transform: translate(0, -10px);
  transition: 0.3s;
}

.portfolio-title,
.course-cardmodal-title {
  position: relative;
  height: auto;
  overflow-y: hidden;
  padding: 3px;
  color: #252641;
  font-family: unset;
  font-size: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.portfolio-title:hover {
  color: black;
}

.portfolio-text {
  color: #747373;
  text-align: left;
  padding: auto;
  width: 100%;
  height: 80px;
  font-family: var(--font-inter);
  font-size: 18px;
  content: normal;
  overflow-y: hidden;
  font-weight: 300;
}

.course-modalitems {
  padding: 1em;
}

.course-cardmodal-desc {
  margin-top: 10px;
  margin: 5px;
  font-size: 16px;
  font-family: var(--font-inter);
  font-weight: lighter;
}

.course-data-items {
  margin: 2px;
  margin-left: 8px;
}

.course-data-category,
.course-modal-category {
  font-family: var(--font-inter);
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  float: left;
  color: gray;
  width: auto;
}

.course-data-duration,
.course-modal-duration {
  font-family: var(--font-inter);
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  color: gray;

  float: right;
  width: auto;
}

.course-cardmodal-text {
  color: #747373;
  text-align: left;
  padding: auto;
  width: 100%;
  font-family: var(--font-inter);
  font-size: 17px;
  content: normal;
  font-weight: 300;
}

.portfolio-btn {
  color: #fff;
  background-color: #d2961e;
  border-radius: 55px;
  font-size: unset;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 100;
  padding: 3px 10px;
  margin: auto;
  width: auto;
  outline: none;
  border: none;
}

.portfolio-btn:hover {
  color: #1e1e1e;
  background-color: #ffb52b;
}

.explore-btn {
  width: 180px;
  height: auto;
  margin: auto;
  background: #d2961e;
  padding: 3px 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}

.explore-btn:hover {
  background-color: #dbb061;
}

.explore-btn h5 {
  font-family: var(--font-inter);
  color: #ffffff;
  margin-top: 5px;
  font-size: 16px;
}

@media (max-width: 759px) {
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1em;
    grid-gap: 20px;
    gap: 20px;
  }

  .portfolio-card {
    width: 20em;
  }

  .course-header h1 {
    font-size: 30px;
  }

  .course-desc {
    font-size: medium;
  }

  .explore-btn {
    width: 150px;
    height: auto;
    margin: auto;
    margin-top: auto;
    background: #d2961e;
    padding: 4px 0px;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
  }

  .explore-btn h5 {
    color: #ffffff;
    font-size: 14px;
  }
}

@media (min-width: 760px) and (max-width: 1200px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    gap: 20px;
  }

  .explore-btn {
    width: 200px;
    height: auto;
    margin: auto;
    background: #d2961e;
    padding: 5px 20px;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
  }

  .explore-btn h5 {
    color: #ffffff;
    font-size: 14px;
  }
}

@media (min-width: 1001px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    gap: 20px;
  }
}

:root {
  /* colors */
  --grey-color: #7d7d7d;
  /* fonts */
  --font-inter: "Inter", sans-serif;
}

.grades {
  padding: 5em;
}

.grades-digits {
  background: linear-gradient(90deg, #3dc55d 0%, #cea553 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  /* 96px */
}

.grades-title {
  color: var(--grary-2, #7d7d7d);
  font-family: var(--font-inter);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
}

.grades-items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  gap: 10px;
}

.grid-items {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grade-logo {
  width: 80%;
}

@media (max-width: 500px) {
  .grades {
    padding: 0px;
  }

  .grades-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 5px;
  }

  .grades-digits {
    font-size: 25px;
  }

  .grades-title {
    font-size: 20px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .grades-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    gap: 10px;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick.css ***!
        \***************************************************************************************************************************************************************************************************************************************************************************************/
/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick-theme.css ***!
        \*********************************************************************************************************************************************************************************************************************************************************************************************/
/* @charset 'UTF-8'; */

/* Slider */
.slick-loading .slick-list {
  background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url(/_next/static/media/slick.25572f22.eot);
  src: url(/_next/static/media/slick.25572f22.eot?#iefix) format("embedded-opentype"),
    url(/_next/static/media/slick.653a4cbb.woff) format("woff"),
    url(/_next/static/media/slick.6aa1ee46.ttf) format("truetype"),
    url(/_next/static/media/slick.f895cfdf.svg#slick) format("svg");
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[7].use[3]!./src/app/page.module.css ***!
        \*****************************************************************************************************************************************************************************************************************************************************************/

.icon_pl {
  padding-right: 5px;
}

.grades-desc {
  color: #747373;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  width: 70%;
  margin: auto;
  line-height: 160%;
  letter-spacing: 0.52px;
  line-height: 130%;
  margin-bottom: 30px;
}

/* PreparatoryStyle */

.PreparatoryStyle {
  background: #619a46;
  width: 100%;
  float: left;
  padding: 5%;
}

.PreparatoryStyle img {
  width: 80% !important;
  padding-top: 5%;
}

.PreparatoryH4 {
  color: var(--Light-Grey, #f1f1f1);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: center;

  /* 160% */
}

.PreparatoryH2 {
  color: var(--White, #fff);
  text-align: center;
  font-size: 48px;
  padding-left: 5%;
  padding-right: 5%;
  font-style: normal;
  font-weight: 200;
  line-height: 72px;
  /* 150% */
}

.PreparatoryTittle {
  width: 100%;
  color: white;
  padding: 3%;
}