@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --light-green-color: #619a46;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "PT Serif", serif;
}
.Faculties-header {
  padding: 4em;
  margin-top: 4em;
  text-align: center;
}
.Faculties-title {
  color: var(--light-green-color);
  font-family: var(--font-PT-serif);
  font-size: 50px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.Faculties-desc {
  font-family: var(--font-inter);
  margin-top: 20px;
  color: var(--gray, #555);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 39px */
  text-align: center;
}
.Faculties-ourleader {
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Faculties-leader-title {
  color: var(--gold, #cca65d);
  font-family: var(--font-PT-serif);
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Faculties-modals {
  padding: 2em;
}
.faculties-card {
  position: relative;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 21rem;
  height: 29rem;
  margin-top: 1em;
  cursor: pointer;
  padding: 0.3em;
  opacity: 1;
}
.btn-primary-faculties {
  color: #000000;
  background-color: rgb(211, 208, 208);
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  padding: 3px 10px;
  background-color: var(--gray, #dcd8d8);
  position: absolute;
  bottom: 15px;
  left: 33%;
  outline: none;
  border: none;
}
.btn-primary-faculties:hover {
  background-color: var(--goldish-color);
}

.faculties-card-title {
  color: var(--gold, #cca65d);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 41.65px */
}
.faculties-card-text {
  color: var(--grary-2, #7d7d7d);
  font-family: var(--font-inter);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
}
.faculties-modalitems {
  padding: 1.5em;
}
.faculties-cardmodal-title {
  color: var(--gold, #cca65d);
  text-align: left;
  font-family: var(--font-inter);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 41.65px */
}
.faculties-cardmodal-text {
  color: var(--grary-2, #7d7d7d);
  font-family: var(--font-inter);
  text-align: left;
  font-size: 20px;
  font-style: normal;
  margin-top: 10px;
  font-weight: 400;
  line-height: 119%;
}
.faculties-cardmodal-desc {
  color: var(--gray, #555);
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  text-align: justify;
  font-weight: 300;
  line-height: 130%; /* 39px */
}
@media (max-width: 768px) {
  .Faculties-title {
    font-size: 30px;
  }
  .Faculties-leader-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .Faculties-leader-title {
    font-size: 30px;
  }
  .Faculties-desc {
    font-size: 16px;
    text-align: justify;
    word-spacing: normal;
  }
}

@media (min-width: 770px) and (max-width: 1000px) {
  .Faculties-leader-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3em;
    gap: 10px;
  }
}

@media (min-width: 1001px) {
  .Faculties-leader-card {
    display: grid;
    padding: 1.5em;
    padding-left: 8em;
    grid-template-columns: repeat(3, 1fr);
  }
}

.Faculties-leader-card {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1440px;
  margin: 1em;
}
