@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --light-green-color: #619a46;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
}
.Faculties-header {
  padding: 4em;
  margin-top: 4em;
  text-align: center;
}
.Faculties-title {
  color: var(--light-green-color);
  font-family: var(--font-martel);
  font-size: 40px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.Faculties-desc {
  font-family: var(--font-inter);
  color: gray;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 39px */
  text-align: center;
}
.Faculties-ourleader {
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Faculties-leader-title {
  color: var(--gold, #cca65d);
  font-family: var(--font-martel);
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Faculties-modals {
  padding: 2em;
}
.faculties-card {
  position: relative;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 17rem;
  height: 28rem;
  margin-top: 1em;
  cursor: pointer;
  padding: 0.5em;
  opacity: 1;
}
.btn-primary-faculties {
  color: black;
  background-color: var(--gray, #dcd8d8);
  transform: translate(60%);
  position: absolute;
  bottom: 20px;
  outline: none;
  border: none;
}
.btn-primary-faculties:hover {
  color: black;
  background-color: var(--goldish-color);
}

.faculties-card-title {
  color: var(--gold, #cca65d);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 41.65px */
}
.faculties-card-text {
  color: var(--grary-2, #7d7d7d);
  font-family: var(--font-inter);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
}
.faculties-modalitems {
  padding: 1.5em;
}
.faculties-cardmodal-title {
  color: var(--gold, #cca65d);
  text-align: left;
  font-family: var(--font-inter);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 41.65px */
}
.faculties-cardmodal-text {
  color: var(--grary-2, #7d7d7d);
  font-family: var(--font-inter);
  text-align: left;
  font-size: 20px;
  font-style: normal;
  margin-top: 10px;
  font-weight: 400;
  line-height: 119%;
}
.faculties-cardmodal-desc {
  color: var(--gray, #555);
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  text-align: justify;
  font-weight: 300;
  line-height: 130%; /* 39px */
}
@media (max-width: 768px) {
  .Faculties-leader-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .Faculties-desc {
    font-size: 16px;
    text-align: justify;
    word-spacing: normal;
  }
}

@media (min-width: 770px) and (max-width: 1000px) {
  .Faculties-leader-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3em;
    gap: 10px;
  }
}

@media (min-width: 1001px) {
  .Faculties-leader-card {
    display: grid;
    padding: 2em;
    grid-template-columns: repeat(3, 1fr);
  }
}

.Faculties-leader-card {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  max-width: 1440px;
  margin: 1em;
}

.profile {
  position: relative;
  transition: all 0.3s;
}

.profile:hover {
  transform: translateY(20px);
}

.profile img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.profile .name {
  position: absolute;
  background-color: dodgerblue;
  color: #fff;
  font-family: var(--font-martel), cursive;
  padding: 15px 30px;
  border-radius: 100px;
  bottom: -80px;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 20px;
  opacity: 0;
  transition: all 0.3s;
}

.profile .name::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: dodgerblue;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover + .name {
  opacity: 1;
  transform: translateX(-50%);
  box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}
