@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");
:root {
  /* color */
  --white-color: #ffffff;
  --light-green-color: #619a46;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "PT Serif", serif;
}
.Faculties-header {
  padding: 4em;
  margin-top: 4em;
  text-align: center;
}
.Faculties-title {
  color: var(--light-green-color);
  font-family: var(--font-PT-serif);
  font-size: 40px;
  font-style: normal;
  font-weight: 450;
  margin-bottom: 20px;
}
.Faculties-desc {
  text-align: center;
  color: var(--gray, #555);
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 39px */
}
.Faculties-ourleader {
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.Faculties-leader-title {
  color: var(--gold, #cca65d);
  font-family: var(--font-PT-serif);
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Faculties-modals {
  padding: 2em;
}
.btn-primary-faculties {
  position: relative;
  top: 15px;
  color: #4f4d4d;
  background-color: rgb(237, 235, 235);
  font-family: var(--font-inter);
  outline: none;
  border: none;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding: 3px 10px;
  width: 50%;
  transform: translate(50%, -50%);
  border-radius: 8px;
}

.btn-primary-faculties:hover {
  color: black;
  background-color: var(--goldish-color);
}
.faculties-card {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 17rem;
  margin-top: 2.5em;
}
.faculties-card:hover {
  transform: scale(0.95);
  transition: 500ms;
  opacity: 0.9;
}
.faculties-card-title {
  color: var(--gold, #cca65d);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 41.65px */
}
.faculties-card-text {
  color: var(--grary-2, #7d7d7d);
  font-family: var(--font-inter);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
}
.faculties-modalitems {
  padding: 1.5em;
}
.faculties-cardmodal-title {
  color: var(--gold, #cca65d);
  text-align: left;
  font-family: var(--font-inter);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 119%; /* 41.65px */
}
.faculties-cardmodal-text {
  color: var(--grary-2, #7d7d7d);
  font-family: var(--font-inter);
  text-align: left;
  font-size: 20px;
  font-style: normal;
  margin-top: 10px;
  font-weight: 400;
  line-height: 119%;
}
.faculties-cardmodal-desc {
  color: var(--gray, #555);
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  text-align: justify;
  font-weight: 300;
  line-height: 130%; /* 39px */
}
.Supreme-council-members {
  margin-top: 3em;
}
.members-cards {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 10rem;
  height: auto;
  margin-top: 2.5em;
}
.members-card-title {
  color: var(--gold, #cca65d);
  text-align: center;
  font-family: var(--font-inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  /* 41.65px */
}
.members-card-text {
  color: var(--grary-2, #7d7d7d);
  font-family: var(--font-inter);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
}
.members-card-img {
  width: 100%;
  padding: 0.3em;
  height: 18vh;
}
@media (max-width: 768px) {
  .Faculties-header {
    margin-top: 2em;
  }
  .Faculties-title,
  .Faculties-leader-title {
    font-size: 30px;
  }
  .Faculties-leader-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .members-leader-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

@media (min-width: 760px) and (max-width: 1000px) {
  .Faculties-leader-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3em;
    column-gap: 20px;
  }

  .members-leader-cards {
    display: grid;
    gap: 10px;
    padding: 2em;
    margin-left: 60px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1001px) {
  .Faculties-leader-card {
    display: grid;
    gap: 10px;
    padding: 2em;
    margin-left: 60px;
    grid-template-columns: repeat(4, 1fr);
  }
  .members-leader-cards {
    display: grid;
    gap: 10px;
    padding: 2em;
    margin-left: 60px;
    grid-template-columns: repeat(7, 1fr);
  }
}
