@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --light-green-color: #619a46;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "unset";
}

body p {
  color: #474747;
  font-family: unset;
  font-size: medium;
  font-weight: 300;
}
.btn_center {
  width: 100%;
  margin: auto;
}
.container p {
  font-size: medium;
}

img {
  object-fit: cover;
}

/* flag */

.sl-nav {
  display: inline;
}

.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

.sl-nav li {
  cursor: pointer;
  padding-bottom: 10px;
}

.sl-nav li ul {
  display: none;
}

.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

.sl-nav li:hover .triangle:after {
  content: "";
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}

.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}

.sl-nav li ul li span {
  padding-left: 5px;
}

.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}

.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}

.flag-de {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==");
  background-size: cover;
  background-position: center center;
}

.flag-usa {
  background-size: cover;
  background-position: center center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=");
}

/* flag */

.Visionpage .container {
  width: 100%;
  /* Set the desired width of the container */
  height: auto;
  /* Set the desired height of the container */
  overflow: auto;
  /* Add a scrollbar if content overflows */
  padding: 10px;
}

.btn:first-child:active {
  border: none;
}

.TitleStyle {
  color: var(--light-green-color);
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: normal;
}

.center_aln {
  text-align: center;
}

.Faculties-header {
  padding: 3em;
  margin-top: 1em;
  text-align: center;
}

.Faculties-title {
  color: var(--light-green-color);
  font-size: xx-large;
  font-style: normal;
  font-weight: 250;
  margin-bottom: 20px;
}

.Faculties-img {
  margin-top: 2em;
  border-radius: 20px;
}

.Faculties-img img {
  border-radius: 20px;
}

.Faculties-desc {
  margin-top: 1em;
  text-align: center;
  color: var(--gray, #555);
  font-family: unset;
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 39px */
}

.Faculties-ourleader {
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Faculties-leader-title {
  color: var(--gold, #cca65d);
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

.Faculties-modals {
  padding: 2em;
}

.btn-primary-faculties {
  position: relative;
  top: 5px;
  color: #4f4d4d;
  background-color: rgb(237, 235, 235);
  font-family: unset;
  outline: none;
  border: none;
  font-size: xx-small;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding: 3px 10px;
  width: 50%;
  transform: translate(50%, -50%);
  border-radius: 55px;
}

.btn-primary-faculties:hover {
  color: black;
  background-color: var(--goldish-color);
}

.faculties-card {
  background: linear-gradient(#ffffff 100%, #fff 100%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 15px;
  border: none;
  width: 100%;
  box-shadow: 5px 15px 60px rgba(27, 33, 47, 0.05);
  padding: 0px;
  cursor: pointer;
  transition: 0.5s;
}

.faculties-card:hover {
  transform: scale(0.95);
  transition: 500ms;
  opacity: 0.9;
}

.faculties-card-title {
  color: var(--gold, #cc9020);
  text-align: center;
  font-family: unset;
  font-size: small;
  font-style: normal;
  font-weight: 300;
  padding-top: 5px;
}
.faculties-card-year {
  color: var(--gold, #cc9020);
  text-align: center;
  font-family: unset;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 300;
  padding-top: 5px;
}
.addres_box {
  border-radius: 9px;
  margin: 3%;
  border: 0px solid #d9d9d9;
  width: 94%;
  float: left;
}

.addres_box p {
  text-align: left;
}

.addres_box img {
  padding: 10px;
  float: left;
}

.addres_box p {
  padding-top: 15px;
}

.cont_form {
  border-radius: 0%;
  border-bottom: 1px solid #c8c8c8;
  border-top: 0px solid #fff;
  border-left: 0px solid #fff;
  border-right: 0px solid #fff;
  width: 100%;
  padding: 5px;
  background-color: #fff;
}

.form_bg_gray {
  background-color: #efefef;
  padding: 12%;
}

.contactbox_shodo {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact-header-title h1 {
  color: #619a46;
  font-family: unset;
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 300;
  text-align: left;
}

@media (max-width: 500px) {
  .contact-header-title h1 {
    font-size: 30px;
  }

  .contact-header-title p {
    font-size: medium;
  }

  .contact-header-phone {
    margin-top: 2em;
  }

  .social-details {
    font-size: smaller;
  }

  .contact-map {
    width: 100%;
  }

  .addres_box {
    border-radius: 9px;
    margin: 3% auto;
    /* Center horizontally with auto margins */
    border: 0px solid #d9d9d9;
    width: 100%;
    float: left;
    text-align: center;
    /* Center inline or inline-block elements inside .addres_box */
  }

  .addres_box img {
    padding-top: 20px;
    width: 50px;
    float: none;
    text-align: center;
  }

  .contact-header-title h1 {
    margin-top: 0%;
  }
}

.course {
  background-color: #f8f8f8;
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-repeat: no-repeat;
}

.course-headerpage {
  padding: 2em;
}

.course-header h1 {
  color: var(--lightgreen-color);
  font-family: var(--font-PT-serif);
  font-size: 40px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin-top: 30px;
}

.course-desc {
  color: #474747;
  font-size: medium;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0.52px;
  line-height: 160%;
  margin-bottom: 30px;
  padding: 0% 0% 0% 0%;
}

.portfolio {
  padding: 0px;
  margin-top: 10px;
}

#portfolio-flters {
  padding: 0;
  margin: -15px 0 25px 0;
  list-style: none;
  font-size: 0;
  text-align: center;
  background-color: var(--white-color);
}

#portfolio-flters li {
  position: relative;
  color: var(--goldish-color);
  font-family: unset;
  font-weight: 300;
  font-size: medium;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
  display: inline-block;
  justify-content: space-between;
  margin: 5px;
  padding: 8px 15px;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.3s;
}

#portfolio-flters li::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 42px;
  width: 90%;
  height: 5px;
  background-color: var(--lightgreen-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

#portfolio-flters li:hover::after {
  transform: scaleX(1);
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  width: 100%;

  justify-items: center;
}

.portfolio-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 18.829999923706055px 47.08000183105469px 0px
    rgba(47, 50, 125, 0.1);
  border: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  height: auto;
}

.portfolio-modal-images {
  position: relative;
  width: 100%;
  height: 15em;
  padding: 10px;
  border-radius: 20px;
  transform: translate(0, 0);
  transition: 0.3s;
}

.portfolio-modal-images img {
  object-fit: cover;
}

.portfolio-modal-images:hover {
  transform: translate(0, -10px);
  transition: 0.3s;
}

.portfolio-title,
.course-cardmodal-title {
  position: relative;
  height: auto;
  width: 100%;

  overflow-y: hidden;
  color: #252641;
  font-family: unset;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
}

.portfolio-title:hover {
  color: black;
}

.portfolio-text {
  color: #474747;
  text-align: left;
  padding: auto;
  width: 100%;
  height: 125px;
  font-family: unset;
  font-size: medium;
  content: normal;
  overflow-y: hidden;
  font-weight: 300;
}

.course-modalitems {
  padding: 1em;
}

.course-cardmodal-desc {
  margin-top: 10px;
  margin: 5px;
  font-size: smaller;
  font-family: unset;
  font-weight: lighter;
}

.course-data-category,
.course-modal-category {
  font-family: unset;
  padding: 5px;
  font-size: small;
  font-weight: 400;
  float: left;
  color: gray;
  width: auto;
}

.course-data-duration,
.course-modal-duration {
  font-family: unset;
  padding-top: 5px;
  font-size: small;
  font-weight: 400;
  color: gray;
  float: right;
  width: auto;
}

.course_cardmodal_desc {
  color: #474747;
  width: 100%;
  font-family: unset;
  text-align: justify;
  content: normal;
  font-weight: 300;
}

.explore-btn {
  width: 180px;
  height: auto;
  margin: auto;
  background: #d2961e;
  padding: 3px 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}

.explore-btn:hover {
  background-color: #dbb061;
}

.explore-btn h5 {
  font-family: unset;
  color: #ffffff;
  margin-top: 5px;
  font-size: smaller;
}

@media (max-width: 759px) {
  .portfolio-title {
    text-align: center;
  }

  .course-cardmodal-text {
    color: #474747;
    text-align: center;
    padding: auto;
    width: 100%;
    font-family: unset;
    font-size: 17px;
    content: normal;
    font-weight: 300;
  }

  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0em;
    grid-gap: 20px;
    gap: 20px;
  }

  .portfolio-card {
    width: 20em;
  }

  .course-header h1 {
    font-size: 30px;
  }

  .course-desc {
    font-size: medium;
    text-align: center;
    padding: 0%;
  }

  .explore-btn {
    width: 150px;
    height: auto;
    margin: auto;
    margin-top: auto;
    background: #d2961e;
    padding: 4px 0px;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
  }

  .explore-btn h5 {
    color: #ffffff;
    font-size: 14px;
  }
}

@media (min-width: 760px) and (max-width: 1200px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    gap: 20px;
  }

  .explore-btn {
    width: 200px;
    height: auto;
    margin: auto;
    background: #d2961e;
    padding: 5px 20px;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
  }

  .explore-btn h5 {
    color: #ffffff;
    font-size: 14px;
  }
}

@media (min-width: 1001px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    gap: 20px;
  }
}

.card-body {
  padding: 10px;
  min-height: 110px;
  padding-top: 0px !important;
}

.card-body .card-text {
  color: var(--grary-2, #4f4f4f);
  font-family: unset;
  text-align: center;
  width: auto;
  font-size: 14.3px;
  font-style: normal;
  font-weight: 400;
}

.faculties-modalitems {
  padding: 1.5em;
}

.faculties-cardmodal-title {
  color: var(--gold, #cca65d);
  text-align: left;
  font-family: unset;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
}

.faculties-cardmodal-text {
  color: var(--grary-2, #7d7d7d);
  font-family: unset;
  text-align: left;
  font-size: medium;
  font-style: normal;
  margin-top: 10px;
  font-weight: 400;
  line-height: 119%;
}

.faculties-cardmodal-desc {
  color: var(--gray, #555);
  font-family: unset;
  font-size: medium;
  font-style: normal;
  text-align: justify;
  font-weight: 300;
  line-height: 160%;
  /* 39px */
}

.Supreme-council-members {
  margin-top: 3em;
}

.members-cards {
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 10rem;
  height: auto;
  margin-top: 2.5em;
}

.members-card-title {
  color: var(--gold, #cca65d);
  text-align: center;
  font-family: unset;
  font-size: medium;
  font-style: normal;
  font-weight: 600;
  /* 41.65px */
}

.members-card-text {
  color: var(--grary-2, #7d7d7d);
  font-family: unset;
  text-align: center;
  font-size: medium;
  font-style: normal;
  font-weight: 400;
  line-height: 119%;
}

.members-card-img {
  width: 100%;
  padding: 0.3em;
  height: 25vh;
  border-radius: 20px;
}

.faculties-card .facluties_fac_images {
  height: 22vh;
  object-fit: cover;
}

.faculties-card .facluties_fac_images_fill {
  object-fit: cover;
  height: 36vh;
  width: auto;
}
.modal-content {
  text-align: center !important;
}
.faculties-cardmodal-title {
  text-align: left;
}

.card-text {
  padding: 1rem 1.3rem 0rem 1rem !important;
}

@media (max-width: 768px) {
  .faculties-cardmodal-title {
    text-align: center;
  }

  .card-body {
    padding: 0px;
    min-height: 110px;
    margin: 0% !important;
    padding-top: 0px !important;
  }

  .faculties-cardmodal-title .card-title h5 {
    text-align: center;
  }
  .faculties-cardmodal-text .card-text {
    text-align: center !important;
  }
  .Digitallibrary,
  .AboutUspage-desc {
    padding: 10px;
    margin-top: 0px;
  }

  .Faculties-header {
    margin-top: 3em;
    padding: 1em;
  }

  .Faculties-title,
  .Faculties-leader-title {
    font-size: 24px;
  }

  .Faculties-leader-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .members-leader-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}

@media (min-width: 760px) and (max-width: 1000px) {
  .Faculties-leader-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3em;
    column-gap: 20px;
  }

  .members-leader-cards {
    display: grid;
    gap: 20px;
    /* padding: 2em; */
    margin-left: 60px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1001px) {
  .Faculties-leader-card {
    display: grid;
    gap: 10px;
    padding: 2em;
    margin-left: 60px;
    grid-template-columns: repeat(4, 1fr);
  }

  .members-leader-cards {
    display: grid;
    gap: 10px;
    padding: 2em;
    margin-left: 60px;
    grid-template-columns: repeat(7, 1fr);
  }
}

.card {
  background: linear-gradient(#ffffff 100%, #fff 100%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 15px;
  border: none !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0px;
  cursor: pointer;
  margin: 0px 0px 20px;
  transition: 0.5s;
}

.card h3 {
  color: #3c3c3c;
  margin: 1em 0;
  font-size: medium;
  text-align: center;
  font-family: unset;
  font-style: normal;
  font-weight: 300;
}

h3 {
  color: #3c3c3c;
  margin: 1em 0;
  font-size: medium;
  text-align: center;
  font-family: unset;
  font-style: normal;
  font-weight: 300;
}

.icon-wrapper {
  background-color: #d78c00;
  position: relative;
  margin: auto;
  font-size: 25px;
  height: 2.5em;
  width: 2.5em;
  margin-top: 20px;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5s;
}

.card:hover {
  background-position: 0 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover .icon-wrapper {
  background-color: #ffffff;
  color: #619a46;
  border: solid 1px #619a46;
}

.card:hover h3 {
  color: #000;
}

/* .card:hover p {
  color: #000;
} */

.card:hover .faculties-card-title {
  color: #000;
}

@media screen and (min-width: 768px) {
  section {
    padding: 0 2em;
  }

  .column {
    flex: 0 50%;
    max-width: 50%;
  }
}

@media screen and (min-width: 992px) {
  section {
    padding: 1em 3em;
  }

  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
.page_padd {
  text-align: center;
}

.AboutUspage-items {
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
  margin-top: 0em;
}

.AboutUspage-vision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
}

.AboutUspage-vision-title {
  color: var(--light-green-color);
  font-family: unset;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  text-align: right;
  margin-top: 10px;
  width: 50%;
  line-height: normal;
}

.AboutUspage-vision-desc {
  color: var(--gray, #555);
  font-family: unset;
  font-size: medium;
  font-style: normal;
  width: 60%;
  text-align: left;
  margin-left: 80px;
  text-align: left;
  font-weight: 300;
  line-height: 160%;
  /* 39px */
}

.AboutUspage-vision-desc p {
  text-align: left !important;
}

.AboutUspage-mission-desc {
  text-align: left !important;
}

.AboutUspage-mission-desc p {
  text-align: left !important;
}

.library p {
  text-align: justify;
}

.AboutUspage-mission-title,
.AboutUspage-campus-title {
  color: var(--light-green-color);
  font-size: 1.5rem;
  font-style: normal;
  padding-bottom: 10px;
  font-weight: 300;
  line-height: normal;
}

.AboutUspage-mission-title,
.AboutUspage-campus-title {
  color: var(--light-green-color);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.AboutUspage-mission-img {
  margin-bottom: 1rem;
}

.AboutUspage-mission-img img {
  margin-top: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
}

.objectives_Head {
  color: var(--black, #000);
  font-family: unset;
  font-size: medium;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  /* 39px */
}

.Courses_Head {
  color: var(--black, #000);
  font-family: unset;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  /* 39px */
}

.blog-details-list li {
  font-size: 15px;
  margin-bottom: 15px;
  padding-left: 28px;
  position: relative;
  z-index: 1;
  list-style: none;
}

.blog-details-list li::before {
  content: "";
  position: absolute;
  background-color: #df9000;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  left: 0;
  top: 8px;
  z-index: 1;
}

.formbox {
  background: linear-gradient(#ffffff 50%, #ff9500 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 15px;
  border: none;
  min-height: 675px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 10px;
  cursor: pointer;
  margin: 10px 0px 10px;
  transition: 0.5s;
  padding: 20px;

  margin: 10px;
}

.unheight {
  min-height: auto !important;
}

.center_div {
  width: 100%;
  text-align: center;
}

.form-label {
  padding-top: 20px;
}

.what-box {
  background: linear-gradient(#ffffff 50%, #ff9500 50%);
  background-size: 100% 200%;
  background-position: 0 2.5%;
  border-radius: 15px;
  border: none;
  box-shadow: 5px 15px 60px rgba(27, 33, 47, 0.05);
  padding: 20px 10px;
  cursor: pointer;
  margin: 10px 0px 10px;
  transition: 0.5s;
}

.what-box:hover {
  background-position: 0 100%;
}

.what-box:hover .icon-wrapper {
  background-color: #ffffff;
  color: #ff9500;
}

.Chapters_center_div {
  background-color: #cc9020;
  width: auto;
  font-size: large;
  font-family: unset;
  font-weight: 300;
  padding: 10px;
  color: #ffffff;
  text-align: center;
}

/* timeline */

.timeline {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0% auto;
}

.timeline__event {
  background: #fff;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 20px 0;
  min-height: 180px;

  border-radius: 8px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.timeline__event__title {
  font-size: 1.2rem;
  line-height: 1.4;
  /* text-transform: uppercase; */
  font-weight: 400;
  color: #c89600;
  letter-spacing: 1.5px;
}

.timeline__event__content {
  padding: 20px;
}

.timeline__event__date {
  color: #c89600;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}

.timeline__event__icon {
  border-radius: 8px 0 0 8px;
  background: #c89600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 1%;
  padding: 2px;
}

.timeline__event__icon i {
  position: absolute;
  top: 50%;
  left: -65px;
  font-size: 2.5rem;
  transform: translateY(-50%);
}

.timeline__event__description {
  flex-basis: 60%;
}

.timeline__event__description p {
  text-align: left;
}

.timeline__event:after {
  content: "";
  width: 2px;
  height: 100%;
  background: #c89600;
  position: absolute;
  top: 52%;
  left: -3.5rem;
  z-index: -1;
}

.timeline__event:before {
  content: "";
  width: 0rem;
  height: 0%;
  display: none;
  position: absolute;
  background: #c89600;
  border-radius: 100%;
  left: 6rem;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #c89600;
}

.timeline__event:last-child:after {
  content: none;
}

@media (max-width: 786px) {
  .timeline__event__description p {
    text-align: center;
  }

  .timeline__event {
    flex-direction: column;
  }

  .timeline__event__icon {
    border-radius: 4px 4px 0 0;
  }
}

/* timeline__end */

.Facilities .box {
  min-height: 500px;
}

.Recognitionhead h1 {
  width: auto;
  padding: 1%;
  text-align: center;
  font-size: medium;
  color: #000;
  font-family: unset;
  font-weight: 300;
}

.Recognition_img img {
  max-height: 300px;
  min-height: 300px;
  border-radius: 20px;
}
.box {
  background-color: #f8f8f8;
  border-radius: 20px;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
  width: auto !important;
  height: auto;
  /* padding-bottom: 20px; */
  margin-bottom: 40px !important;
  margin-top: 30px;
  min-height: 150px;
  /* display: flex; */
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

.box:hover {
  background-color: #fff;
  transition: all 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.box h3 {
  text-align: center;
}

.center_div h5 {
  font-weight: 300;
}

.box .caro-img img {
  border-radius: 2px;
  max-height: 300px;
  border: 5px solid #fff;
  cursor: pointer;
}

.caro-box-border {
  --angle: 0deg;
  border-width: 15px;
  border-style: dotted;
  border-image-source: linear-gradient(
    var(--angle),
    #6d97e6,
    #2172ba,
    #022d53 10em
  );
  border-image-slice: 10;
  animation: 5s rotate linear infinite;
  -webkit-animation: 10s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.box .books img {
  border-radius: 0px;
  min-height: 400px;
  max-height: 400px;
  border: 5px solid #fff;
}

.box .caro-des {
  font-size: unset;
  font-size: 1.5rem;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding-top: 10px;
  margin-bottom: 0px;
}

.box .caro-paragraph {
  font-size: unset;
  font-size: medium;
  font-style: normal;
  text-align: center;
  font-weight: 300;
  padding: 10px;
}

.caro-paragraph p {
  padding: 30px !important;
}
.send_button {
  background: linear-gradient(90deg, #3dc55d 0%, #619a46 100%);
  border-radius: 999px;
  box-shadow: #b3d3a4 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: unset;
  font-size: smaller;
  font-weight: 300;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 15px 60px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.send_button:hover {
  background: #01a226;
  border-radius: 999px;
  box-shadow: #407029 0 10px 20px -10px;
}

.More_btn2 button {
  background: linear-gradient(90deg, #3dc55d 0%, #619a46 100%);
  border-radius: 999px;
  box-shadow: #b3d3a4 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: unset;
  font-size: smaller;
  font-weight: 300;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.More_btn2 button:hover {
  background: #3dc55d;
  border-radius: 999px;
  box-shadow: #619a46 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: unset;
  font-size: smaller;
  font-weight: 300;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.portfolio-btn {
  background: linear-gradient(90deg, #3dc55d 0%, #619a46 100%);
  border-radius: 999px;
  box-shadow: #b3d3a4 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: unset;
  font-size: smaller;
  font-weight: 300;
  margin: auto;
  opacity: 1;
  text-align: center;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.portfolio-btn:hover {
  background: #3dc55d;
  border-radius: 999px;
  box-shadow: #619a46 0 10px 20px -10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: unset;
  font-size: smaller;
  font-weight: 300;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.footer {
  background-color: #cea553;
  background: linear-gradient(97deg, rgb(169, 102, 1) 3%, rgb(176, 115, 0) 41%);
}

.footer .footer-desc {
  padding: 5px;
  margin-top: 5px;
  font-family: unset;
  font-style: normal;
  font-weight: 250;
  font-size: medium;
  color: var(--white-color);
  text-align: justify;
}

.footer-nav {
  margin-top: 30px;
  margin-left: 30%;
}

.footer-nav .footer-links {
  text-decoration: none;
  color: var(--white-color);
}

.footer-links h5 {
  font-family: var(--font-rubik);
  font-size: medium;
  padding: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.footer-contact {
  transform: translateX(0%);
}

.footer-contact h2 {
  margin-top: 30px;
  color: var(--white-color);
  font-size: 25px;
}

.footer-contact p {
  color: var(--white-color);
  font-family: var(--font-rubik);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-contact span {
  margin-right: 5px;
}

.footer-number {
  margin-left: 36px;
}

.footer-address {
  margin-left: 20px;
}

.footer-line {
  border: 1px solid var(--white-color);
}

.footer-copyright {
  color: var(--white-color);
  font-size: medium;
}

.footer-social-icons-list {
  font-size: medium;
  color: var(--white-color);
  margin: 0px 0px 20px 30px;
  float: right;
  cursor: pointer;
}

.footer-social-icons-list:hover {
  color: var(--black--color);
}

.footer-address {
  margin-top: -10px;
}

.fa-brands,
.fab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
}

@media (max-width: 991px) {
  .footer-contact {
    transform: translateX(0%);
  }

  .footer-logo {
    width: 200px !important;
    height: auto;
  }

  .footer-nav {
    margin-left: 0px;
  }

  .footer .footer-desc {
    font-size: 17px;
  }
}

@media (max-width: 500px) {
  .footer-social-icons-list {
    margin: 0px 0px 20px 30px;
    float: right;
  }

  .footer-address {
    margin-left: 0px;
  }

  .footer-location {
    margin-top: 12px;
  }

  .footer-contact span {
    margin-right: 5px;
  }

  .footer-number {
    margin-left: 35px;
  }
}

.AboutUspage-img {
  padding-top: 63px;
  background-color: #000;
}
/* styles.css */

/* Default styles */
.AboutUspage-img img {
  width: 100%; /* Make the image fill its container */
  height: 660px; /* Set the initial height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  opacity: 0.8;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  .AboutUspage-img img {
    height: auto; /* Allow height to adjust based on the aspect ratio */
  }
}

.director {
  width: 100%;
  background-color: #eaf6e4;
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
}

.news-title h1 {
  padding-bottom: 0rem;
  font-family: unset;
  font-weight: 300;
  margin-top: 5rem;
  font-size: 30px;
  text-align: center;
  color: #619a46;
}

.event-title .about-Title h1 {
  padding: 0rem;
  font-family: unset;
  font-weight: 300;
  margin-top: 0rem;
  text-align: center;
  color: #619a46;
  font-size: 2rem;
}

.event-img img {
  border: solid 1px #fff;
  padding: 5px;
}

.what-box h3 {
  padding: 0rem;
  font-family: unset;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  color: #000;
}

.director-heading h1 {
  padding-bottom: 0rem;
  margin-top: 3.5rem;
  font-family: unset;
  font-weight: 300;
  text-align: left;
  font-size: 2rem;
  color: #619a46;
}
.central-library_para {
  text-align: justify;
}
.about-Title {
  text-align: center;
  color: #619a46;
  margin-top: 2rem !important;
}

.about-Title h1 {
  font-family: unset;
  font-weight: 300;
  color: #619a46;
  margin-top: 2rem !important;

  font-size: 2rem;
}

.library {
  margin-top: 2rem;
}

.library h2 {
  color: #619a46;
}

.library p {
  color: #555555;
  max-width: fit-content;
  text-align: justify;
}

.about-description {
  padding: 0rem 2rem 0rem 2rem;
  text-align: center;
}

.about-description p {
  text-align: justify;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/components/ourCourses/Courses.css ***!
        \*************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --lightgreen-color: #619a46;
  --goldish-color: #d2961e;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "PT Serif", serif;
}

:root {
  /* colors */
  --grey-color: #7d7d7d;
  /* fonts */
  --font-inter: "Inter", sans-serif;
}

.grades {
  padding: 0em 2em 0em;
  text-align: center;
}

.grades-digits {
  background: linear-gradient(90deg, #3dc55d 0%, #df9000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: unset;
  font-size: 38px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}

.grades-title {
  color: var(--grary-2, #585858);
  font-family: unset;
  font-size: x-large;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 5px;
}

.grades-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid-items {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grade-logo {
  width: 80%;
}

@media (max-width: 768px) {
  .grades-digits {
    background: linear-gradient(90deg, #3dc55d 0%, #df9000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: unset;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
  }
  .grades-title {
    font-size: initial;
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick-theme.css ***!
        \*********************************************************************************************************************************************************************************************************************************************************************************************/
/* @charset 'UTF-8'; */

/* Slider */
.slick-loading .slick-list {
  background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) center
    center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url(/_next/static/media/slick.25572f22.eot);
  src: url(/_next/static/media/slick.25572f22.eot?#iefix)
      format("embedded-opentype"),
    url(/_next/static/media/slick.653a4cbb.woff) format("woff"),
    url(/_next/static/media/slick.6aa1ee46.ttf) format("truetype"),
    url(/_next/static/media/slick.f895cfdf.svg#slick) format("svg");
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}

.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
        !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick.css ***!
        \***************************************************************************************************************************************************************************************************************************************************************************************/
/* Slider */
.slick-slider {
  position: relative;
  height: auto;
  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  margin-bottom: 50px !important;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.page_padd {
  padding-left: 7rem;
  padding-right: 7rem;
}

.Colleges_div_bg {
  width: 100%;
  margin: auto;
  height: 250px;
  background-color: #000;
  padding: 5%;
  margin-top: 50px;
  background-image: url(/banner/CollegesBG.png);

  color: #ffffff !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.Colleges_div_bg p {
  color: #c8c8c8 !important;
  font-size: medium;
}

/* apppage */

.app_bg {
  padding: 2%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(200, 200, 200) 0%,
    rgb(241, 241, 241) 50%,
    rgb(197, 197, 197) 100%
  );
}

.app_head {
  width: auto;
  padding: 1%;
  text-align: center;
  font-size: larger;
  color: #000;
  font-family: unset;
  font-weight: 300;
}

.app_head p {
  color: #474747;
}

.app_head a {
  color: #619a46 !important;
}

.app_bg p {
  color: #000 !important;
}

.app_icon {
  width: 100%;
  text-align: center !important;

  border-radius: 10px;
}

.app_icon img {
  width: 200px;
  border-radius: 10px;
  text-align: center;
  margin-right: 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.director-img {
  width: 95%;
  vertical-align: bottom;
  bottom: 0%;
  border-radius: 30px;
  margin: 7%;
  vertical-align: bottom;
  background-color: transparent;
}

.director-img img {
  width: 100%;
  bottom: 0%;
}

.work_box {
  border-radius: 12px;
  background: #619a46;
  background-image: url(/careersbg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding: 3% 10% 1%;
  float: left;
  text-align: center;
}

.bg-image {
  opacity: 0.7;
}

.p_style {
  color: var(--gray, #ffffff);
  text-align: center;
  font-size: medium;
  font-style: normal;
  font-weight: 300;
  margin-top: 0.3em;
  line-height: 160%;
  padding: 2% 5% 1%;
}

.white {
  color: white;
}

.icon_pl {
  width: 20px;
  padding-right: 3px !important;
}

.icon_pl img {
  width: 15px;
  margin-top: 22px;
}

.icon_arrow_abt {
  border: none;
}

/* .icon_arrow_abt svg {
  width: 30px !important;
} */
.btn2 {
  border: none !important;
}

.btn {
  border: none !important;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}

.btn button {
  color: #619a46;
  background-color: #ffffff;
  /* padding: 7px 20px; */
  border: solid 1px #619a46;
  border-radius: 55px;
  width: auto;
  transition: 500ms;

  padding: 0px 0px 0px 20px;
}

.btn button:hover {
  background-color: #ffffff;
  color: #00b548;
  transition: 500ms;
  border: solid 1px #00b548;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.btn2 {
  align-items: left;
  justify-content: center;
  margin-top: 2rem;
  border: 0px;
}

.btn2 button {
  color: #619a46;
  background-color: #ffffff;
  /* padding: 7px 20px; */
  border: solid 1px #619a46;
  border-radius: 55px;
  width: auto;
  padding: 0px 0px 0px 20px;
}

.btn2 button:hover {
  background-color: #ffffff;
  color: #00b548;
  transition: 500ms;
  border: solid 1px #00b548;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.icon_arrow_abt {
  float: right;
}

.icon_arrow {
  float: left;
  padding: 5px 30px 0px 43px;
}

#footer p {
  color: white;
  font-size: medium;
  text-align: left;
}

.copy-right {
  text-align: center;
}

.footer-copyright p {
  text-align: left !important;
}

.noBordder {
  border-bottom: 0px;
}

::-webkit-scrollbar {
  display: none;
}

.carouselevent {
  display: block;
}

.director-des p {
  text-align: justify;
  font-size: small !important;
}

.person-detail {
  margin-top: 1rem;
}

.person-detail p {
  text-align: left !important;
}

.person-detail p {
  color: #555555;
  text-align: left !important;
  font-family: unset;
  font-size: medium !important;
}

.person-detail h4 {
  color: #3b3b3bf9;
  text-transform: capitalize;
  font-weight: 400;
  font-family: unset;
}

@media (max-width: 767px) {
  .container {
    width: 98%;
    /* Set the desired width of the container */
    height: auto;
    /* Set the desired height of the container */
    overflow: auto;
    /* Add a scrollbar if content overflows */
    padding: 2%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body p {
    text-align: justify !important;
  }

  img {
    object-fit: cover;
  }

  .about-Title h1 {
    font-size: 1.5rem !important;
  }

  .TitleStyle {
    font-size: 1.5rem !important;
  }

  .faculties-card .facluties_fac_images_fill {
    height: auto;
  }
  .faculties-card-title {
    font-size: small !important;
    font-style: normal;
    font-weight: 300;
    padding-top: 2%;
  }

  .btn {
    margin-bottom: 0rem !important;
  }

  .event-des h4 {
    text-align: left;
  }

  .event-des p {
    text-align: left !important;
  }

  .card-body {
    padding: 0px !important;
    text-align: center;
  }

  .card-body p {
    text-align: center;
  }

  .card-body {
    padding: 2px;
    min-height: 160px !;
  }

  .caro-paragraph p {
    padding: 30px;
  }
  .what-box h3 {
    padding: 0rem !important;
    font-family: unset;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: #000;
  }

  .faculties-card-text {
    font-size: small !important;
  }

  .events-section {
    padding: 4% !important;
  }

  .director-img {
    width: 100%;
    vertical-align: bottom;
    bottom: 0%;
    border-radius: 30px;
    width: 100%;
    margin: 2%;
    vertical-align: bottom;
    background-color: transparent;
  }

  .AboutUspage-items {
    text-align: justify;
  }

  .AboutUspage-mission-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .AboutUspage-mission-desc p {
    text-align: justify !important;
  }

  .AboutUspage-mission-desc {
    text-align: justify !important;
  }

  .AboutUspage-items {
    padding: 1em;
  }
  .carouselevent {
    display: none;
  }

  .about-Title {
    margin-top: 3rem !important;
  }

  .person-detail p {
    text-align: center !important;
  }

  .person-detail h4 {
    text-align: center;
  }

  .row > * {
    width: 100% !important;
    padding: 1%;
  }

  .column {
    margin: 5%;
  }

  .about-Title h1 {
    margin-top: 0rem !important;
  }

  .addres_box p {
    text-align: center;
  }

  .about-description p {
    text-align: center;
  }

  .about-description {
    padding: 0rem;
  }

  .box .caro-img img {
    border-radius: 2px;
    min-height: none;
    max-height: none;
    border: 5px solid #fff;
  }

  .box .books img {
    border-radius: 0px;
    min-height: none;
    max-height: none;
    border: 5px solid #fff;
  }

  img {
    object-fit: cover;
  }

  .faculties-card .facluties_fac_images {
    height: 15vh !important;
  }

  .footer .container {
    overflow: visible !important;
  }
}
.news_img {
  display: flex;
  justify-content: center;
}
.news_img img {
  width: 40%;
}
.news-para {
  text-align: justify;
}

@media (max-width: 991px) {
  .app_head {
    font-size: larger;
    text-align: center;
    padding-top: 1rem;
  }

  .about-Title h1 {
    font-size: 1.5rem;
  }

  .page_padd {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  .page_padd p {
    text-align: center;
  }

  .app_icon {
    width: 100%;
    text-align: center !important;
    padding-bottom: 20px;
    margin-right: 10px;
    border-radius: 10px;
  }

  .app_icon img {
    width: 44%;
    border-radius: 10px;
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .about-Title h1 {
    padding: 10px;
    margin: 0px;
    font-size: 1.5rem;
  }

  .about-Title {
    margin-top: 3rem;
  }

  .work_box {
    padding-top: 2rem;
  }

  .news-title h1 {
    padding-bottom: 0rem;
    font-family: unset;
    font-weight: 300;
    font-size: medium;
    margin-top: 5rem;
    text-align: center;
    color: #619a46;
  }

  .news_img img {
    padding: 2rem;
    width: 100%;
  }

  .director-heading h1 {
    padding-bottom: 0rem;
    font-family: unset;
    font-weight: 300;
    font-size: 1.5rem !important;
    text-align: center;
    color: #619a46;
  }

  .library h1 {
    font-size: 1.5rem;
  }

  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");

  :root {
    /* color */
    --white-color: #ffffff;
    --green-color: green;
    --goldish-color: #cca65d;

    /* fonts */
    --font-inter: "Inter", sans-serif;
    --font-martel: "Martel", serif;
  }

  .coursePage-header {
    margin-top: 6.5em;
  }

  .coursePage-img {
    position: relative;
  }

  .coursePage-text h2 {
    text-transform: capitalize;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50%;
    z-index: 1000;
    color: var(--white-color);
    font-family: unset;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
  }

  .coursePage-text p {
    position: absolute;
    padding: 0% 22% 1%;
    text-align: center;
    bottom: 30%;
    z-index: 1000;
    color: var(--white-color);
    font-family: unset;
    font-size: 15px;
  }

  .More_btn2 {
    background: linear-gradient(90deg, #3dc55d 0%, #619a46 100%);
    border-radius: 999px;
    box-shadow: #b3d3a4 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: unset;
    font-size: smaller;
    font-weight: 300;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .More_btn2:hover {
    background: #3dc55d;
    border-radius: 999px;
    box-shadow: #619a46 0 10px 20px -10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: unset;
    font-size: smaller;
    font-weight: 300;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

  .center_div {
    text-align: center;
  }

  .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .director-heading h1 {
    font-size: 2rem;
  }

  .library {
    margin-top: 2rem;
  }

  .portfolio-text {
    text-align: center !important;
  }

  .course-headerpage {
    padding: 0em;
    text-align: center;
  }

  .library p {
    color: #555555;
    max-width: 100%;
    padding: 0px !important;
  }

  .library-btn {
    color: #fff;
    background-color: #cca65d;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-family: unset;
  }

  .bg-light {
    background-color: white !important;
  }

  .header-video {
    margin-top: auto;
  }

  .AboutUspage-campus-title {
    font-size: 1.5rem;
  }

  #footer {
    text-align: center;
    padding-top: 2rem !important;
  }

  .TitleStyle {
    font-size: 1.5rem;
  }

  #footer p {
    text-align: center !important;
    font-size: medium;
  }

  .footer p {
    text-align: center !important;
    font-size: medium;
  }

  .contact-header-left {
    text-align: center;
  }

  .Courses_Head {
    text-align: center;
  }

  .timeline__event__title {
    text-align: center;
  }

  .useful-link,
  .social-links,
  .address {
    text-align: left !important;
  }

  .blog-details-list li {
    text-align: left;
  }

  .blog-details-list li::before {
    text-align: left;
  }

  .slick-list {
    margin: 0;
    padding-bottom: 5px !important;
  }

  .box {
    margin-bottom: 5px !important;
  }

  .faculties-card img {
    height: auto;
    object-fit: cover;
  }
}

/*****  youtube video Section *****/
/* Header video styles */
.fullscreen-video {
  filter: brightness(50%);
}

/* YouTube video container */
.youtube-video {
  position: relative;
  top: 0px;
  padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive design */
  padding-top: 0;
  height: 100px;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.youtube-video iframe {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  height: 100%;
}

.header:hover {
  cursor: none !important;
}

/* Hide YouTube video controls and logo */
.youtube-video:hover .ytp-chrome-top,
.youtube-video:hover .ytp-gradient-bottom,
.youtube-video:hover .ytp-title-link,
.youtube-video:hover .ytp-logo,
.youtube-video:hover .ytp-copylink-button {
  display: none !important;
}

@media (max-width: 768px) {
  .youtube-video {
    position: relative;
    top: 13px;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive design */
    padding-top: 0;
    height: 100px;
    overflow: hidden;
    width: 100%;
  }
  .youtube-video iframe {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/***** End  youtube video Section *****/
