@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
:root {
  /* color */
  --white-color: #FFFFFF;
  --green-color: green;
  --goldish-color: #CCA65D;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
}

.deparment-section{
    background-color: #F8F8F8;
    background-image: url("/Hotel\ Wallpaper\ Pattern.png");
}
.department-title h1{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #619A46;
    font-family: var(--font-martel);
    font-weight: 500;
    overflow: hidden;
}
.department-des{
    margin-top: 2rem;
}
.department-des p{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #7D7D7D;
    font-family: var(--font-inter);
    font-size: 20px;
}

.portfolio-text{
    color: #CCA65D;
    font-size: 25px;
}






