@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");
:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #cca65d;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
  --font-pt-serif: "PT Serif", serif;
}
.department-section {
  background-color: #f8f8f8;
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
}
.department-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.department-heading h1 {
  color: #619a46;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-family: var(--font-pt-serif);
}
.department-para p {
  color: #555555;
  height: auto;
  font-family: var(--font-inter);
  font-size: 20px;
  text-align: center;
}

/* -----------carousel side */
.carousel-2 {
  color: #fff;
  margin: 20px;
  background-color: #f8f8f8;
}
.box {
  background-color: #f8f8f8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px !important;
  height: 370px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px !important;
}
.box h3 {
  text-align: center;
}
.slick-slide div {
  padding-bottom: 2rem;
  margin: 0 0rem;
  background-color: #f8f8f8;
}
.slick-dots li.slick-active button:before {
  color: rgb(218, 172, 58) !important;
}
.slick-dots li button:before {
  color: #555555 !important;
  font-size: 0.8rem !important;
  top: 2rem !important;
}
.caro-img img {
  width: 100%;
}
.caro-des h4 {
  padding-top: 1rem;
  color: #cca65d;
  text-align: center;
  font-family: var(--font-pt-serif);
  font-weight: 500;
}
.caro-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px !important;
}
.caro-btn button {
  border: none;
  border-radius: 5px;
  background-color: #b6acac93;
  font-size: 13px;
  padding: 3px 30px;
  color: black;
  font-family: var(--font-inter);
}
.caro-btn button:hover {
  background-color: var(--goldish-color);
}
@media (max-width: 378px) {
  .carousel-2 {
    color: #fff;
    margin: 0px;
    margin-left: 25px;
    background-color: #f8f8f8;
  }
}

@media (min-width: 380px) and (max-width: 500px) {
  .carousel-2 {
    color: #fff;
    margin: 60px;
    background-color: #f8f8f8;
  }
}
