@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --light-green-color: #619a46;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "PT Serif", serif;
}

.Faculties-header {
  padding: 1em;
  margin-top: 4em;
  text-align: center;
}

.Faculties-title {
  color: var(--light-green-color);
  font-size: 50px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-top: 1em;
}

.gallery {
  display: flex;
  padding: 0px;
  transition: 0.8s;
  cursor: pointer;
}

.gallery:hover .gallery__image {
  filter: grayscale(0);
}

.gallery__column {
  display: flex;
  flex-direction: column;
  padding: 0.3em;
  width: 25%;
}

.gallery__link {
  margin: 2px;
  overflow: hidden;
}

.gallery__link:hover .gallery__image {
  filter: grayscale(1);
}

.gallery__link:hover .gallery__caption {
  opacity: 1;
}

.gallery__thumb {
  position: relative;
}

.gallery__image {
  display: block;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 0px;
  transition: 0.9s ease-in;
  border: solid 8px #fff;
}

.gallery__image:hover {
  position: absolute;
  transform: scale(1.3);
  left: auto;
  right: auto;
  border-radius: 0px;


  z-index: 3;
}

.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}


/***** image gallery *****/
.gallery__image>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/***** End image gallery *****/

@media (max-width: 1000px) {
  .gallery__image {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 500px) {
  .Faculties-header {
    margin-top: 2em;
  }

  .Faculties-title {
    font-size: 30px;
  }

  .gallery__image {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    width: 100% !important;
    border-radius: 0px;
    transition: 0.9s ease-in;
    border: solid 2px #fff;
  }

}