/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
    !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[12].use[3]!./src/app/pages/aboutus/AboutUs.css ***!
    \*****************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --light-green-color: #619a46;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "unse";
}

.AboutUspage-header {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: left;
}

.about-Title {
  text-align: center;
  color: #619a46;
  margin-top: 5rem;
}



.AboutUspage-title {
  color: var(--light-green-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.AboutUspage-desc {
  color: var(--gray, #555);
  font-family: unset;
  font-size: medium;
  font-style: normal;
  text-align: justify;
  margin-top: 1.5em;
  padding: 1em;
  font-weight: 400;
  line-height: 160%;
  /* 39px */
}

:is(.AboutUspage-short-desc, .AboutUspage-long-desc)::first-letter {
  /* font-size: 30px;
      color: #619a46;
      text-transform: uppercase;
      font-family: unset;
      font-weight: 900; */
}

.AboutUspage-long-desc {
  margin-top: 2em;
  text-align: justify;

}

.AboutUspage-items {
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em;
  margin-top: 3em;
}

.AboutUspage-vision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
}

.AboutUspage-vision-title {
  color: var(--light-green-color);
  font-family: unset;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  text-align: right;
  margin-top: 10px;
  width: 50%;
  line-height: normal;
}

.AboutUspage-vision-desc {
  color: var(--gray, #555);
  font-family: unset;
  font-size: medium;
  font-style: normal;
  width: 60%;
  margin-left: 80px;
  text-align: left;
  font-weight: 300;
  line-height: 160%;
  /* 39px */
}

.AboutUspage-mission-title,
.AboutUspage-campus-title {
  color: var(--light-green-color);
  font-size: 40px;
  font-style: normal;
  margin-top: 1em;
  font-weight: 300;
  line-height: normal;
}

.AboutUspage-mission-img {
  margin-top: 0px;
}

.AboutUspage-mission-desc {
  color: var(--gray, #555);
  text-align: justify;
  font-size: medium;
  font-style: normal;
  font-weight: 300;
  margin-top: 0.3em;
  line-height: 160%;
  /* 39px */
}

#our-mission-header {
  margin-top: 30px;
}

.AboutUspage-ourMission {
  margin-top: 1em;
}

.AboutUspage-ourCampus {
  padding: 1.3em;
  margin-bottom: 2em;
}

/***** image gallery *****/
.grid-wrapper>div {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.grid-wrapper>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.grid-wrapper>div>img:hover {
  transition: 1s ease-in;
  opacity: 0.9;
  transform: scale(0.9);
  cursor: pointer;
}

.grid-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  padding: 3em;
}

.grid-wrapper .wide {
  grid-column: span 2;
}

.grid-wrapper .tall {
  grid-row: span 2;
}

.grid-wrapper .big {
  grid-column: span 2;
  grid-row: span 2;
}

.tall {
  position: relative;
}

.gallery-data-link {
  opacity: 0.7;
  filter: contrast(90%);
  filter: brightness(50%);
}

.gallery-link {
  position: absolute;
  padding: 5px;
  opacity: 1;
  top: 45%;
  left: 35%;
}

.gallery-navigate {
  color: rgb(248, 247, 247);
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-style: normal;
  font-family: unset;
}

.gallery-navigate:hover {
  color: var(--goldish-color);
  transition: 0.8s linear;
  opacity: 0.8;
  transform: scale(0.9);
  cursor: pointer;
}

/***** End image gallery *****/

@media (max-width: 700px) {
  .AboutUspage-header {
    margin-top: 2em;
  }

  .AboutUspage-title {
    font-size: 30px;
  }

  .AboutUspage-vision-title {
    font-size: 30px;
    margin-top: -0.5em;
  }

  .AboutUspage-mission-title {
    font-size: 30px;
  }

  .AboutUspage-campus-title {
    font-size: 30px;
  }

  .AboutUspage-mission-img {
    margin-top: 0px;
  }
}

@media (max-width: 800px) {
  .AboutUspage-vision {
    flex-direction: column;
  }

  .AboutUspage-vision-title {
    text-align: left;
    width: 100%;
  }

  .AboutUspage-vision-desc {
    width: 100%;
    margin-left: 0px;
    margin-top: 0.2em;
    text-align: justify;
  }

  .grid-wrapper {
    margin-top: 1em;
    padding: 0px;
  }
}


.about-Title {
  text-align: center;
  color: #619a46;
  margin-top: 5rem;
}



.center_aln {
  text-align: center;
}