@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");
:root {
  /* color */
  --white-color: #ffffff;
  --green-color: green;
  --goldish-color: #cca65d;
  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
  --font-pt-serif: "PT Serif", serif;
}

.event-first-section p {
  color: #555555;
}
.events-section {
  padding: 1em;
  background-color: #f8f8f8;
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
}
.event-title {
  align-items: center;
  justify-content: center;
  display: flex;
}
.event-title h1 {
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: #619a46;
  font-family: var(--font-pt-serif);
}
.event-des {
  margin-top: 1em;
}
.event-btn {
  margin-top: 1rem;
}
.event-btn button {
  border: none;
  border-radius: 10px;
  padding: 5px 7px 5px;
  color: #fff;
  background-color: rgba(97, 154, 70, 0.75);
  font-family: var(--font-inter);
}
.event-btn-right:hover {
  color: #fff;
  background-color: #cca65d;
}
span {
  padding-left: 10px;
  font-family: var(--font-inter);
}
/* ----event section -2----- */
.event-section-2 {
  background-color: #fff;
  padding-bottom: 3rem !important;
}
.headlibrary {
  margin-top: 6rem !important;
  padding-bottom: 4rem !important;
}

.library {
  margin-top: 3rem;
}
.library h2 {
  color: #619a46;
}
.library p {
  color: #555555;
  max-width: 90%;
}

.library h1 {
  color: #619a46;
  font-family: var(--font-pt-serif);
}
.library p {
  color: #555555;
  max-width: 90%;
  font-family: var(--font-inter);
  font-size: 20px;
}
.library-btn {
  color: #fff;
  background-color: #cca65d;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  font-family: var(--font-inter);
}
/* --right side carouse */

.right-event-caro {
  display: flex !important;
  border-radius: none;
  margin-top: 1rem;
  box-shadow: none;
  background-color: #f8f8f8;
}
.event-caro-img img {
  width: 230px;
}
.right-event-des {
  width: 100%;
  background-color: #b6acac93;
}
.right-event-des h4 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  font-family: var(--font-inter) !important;
}
.right-event-des p {
  font-size: 16px;
  font-family: var(--font-inter) !important;
}

.right-learn-btn button {
  border: none;
  border-radius: 5px;
  background-color: #b6acac93;
  font-size: 13px;
  padding: 3px 30px;
  font-family: var(--font-inter);
}
.right-learn-btn button:hover {
  background-color: #cca65d;
  color: #fff;
}
.event-btn-right {
  border: none;
  border-radius: 5px;
  background-color: #b6acac93;
  font-size: 13px;
  padding: 3px 30px;
  font-family: var(--font-inter);
}
.event-slick {
  margin: 0px !important;
  padding: 0 !important;
  margin: 0 0.5rem;
  opacity: 1;
}
.event-slick div {
  margin: 0 0.5rem;
  background-color: transparent !important;
  opacity: 1;
}
.carouselevent {
  position: relative;
  background-color: #f8f8f8;
}

.slick-dots {
  position: absolute;
  top: 40%;
  right: -30%;
  transform: translateY(-50%) rotate(90deg);
  display: none !important;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button {
  padding: 0;
  width: 10px; /* Adjust the value as needed */
  height: 10px; /* Adjust the value as needed */
  border-radius: 50%;
}

/* Optional: Add styling to the active dot */

.slick-prev {
  display: none !important;
}
.slick-next {
  display: none !important;
}
.link-event {
  padding-top: 7rem;
}
/* ----------media query for small screen */
@media screen and (max-width: 550px) {
  .right-event-des h4 {
    font-size: 12px;
    color: black;
    font-weight: 400;
  }
  .right-event-des p {
    font-size: 10px;
    text-align: left !important;
  }
}
@media screen and (max-width: 1200px) {
  .slick-dots {
    display: none !important;
  }
}
@media screen and (max-width: 600px) {
  .carouselevent {
    margin-top: 3em;
  }

  .right-event-caro {
    display: flex !important;
    border-radius: none;
    margin-top: 0rem;
    box-shadow: none;
    background-color: #f8f8f8;
  }
  .event-caro-img img {
    width: 100px !important;
    height: auto;
  }
  .event-btn button {
    border: none;
    border-radius: 7px;
    padding: 5px 7px 5px;
    color: #fff;
    font-size: 10px;
  }
  .event-des h4 {
    font-size: 20px;
  }
  .slick-dots li button {
    display: none;
  }
  .library h1 {
    text-align: center;
  }
  .library p {
    color: #555555;
    max-width: 100%;
    text-align: center;
  }
  .learn-btn-lib {
    text-align: center;
    font-size: 13px;
  }
}
