@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300;400&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --light-green-color: #619a46;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-martel: "Martel", serif;
}
.AboutUspage-header {
  padding: 4em;
  margin-top: 4em;
  text-align: center;
}
.AboutUspage-title {
  color: var(--light-green-color);
  font-family: var(--font-martel);
  font-size: 40px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
}
.AboutUspage-desc {
  color: var(--gray, #555);
  padding: 3em;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 39px */
}
.AboutUspage-vision {
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.3em;
}
.AboutUspage-vision-title {
  color: var(--light-green-color);
  font-family: var(--font-martel);
  font-size: 40px;
  font-style: normal;
  margin-top: 1em;
  font-weight: 450;
  line-height: normal;
}
.AboutUspage-vision-img {
  margin-top: 30px;
}

.AboutUspage-vision-desc {
  color: var(--gray, #555);
  font-family: var(--font-inter);
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 39px */
}
.AboutUspage-mission-desc {
  color: var(--gray, #555);
  font-family: var(--font-inter);
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 39px */
}
#our-mission-header {
  margin-top: 20px;
}
.AboutUspage-ourMission {
  margin-top: 1.3em;
}
.AboutUspage-ourCampus {
  padding: 1.3em;
  margin-bottom: 2em;
}

@media (max-width: 700px) {
  .AboutUspage-vision-title {
    font-size: 25px;
  }
  .AboutUspage-desc {
    text-align: justify;
    padding: 1em;
  }
  .AboutUspage-vision {
    margin-top: -60px;
  }
}

/* Container for the masonry grid gallery */
.AboutUspage-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 5px;
}

.AboutUsPage-gallery-items {
  position: relative;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.AboutUsPage-gallery-items .box {
  position: relative;
  width: 30rem;
  height: 20rem;
}

.AboutUsPage-gallery-items .box:hover .imgBox {
  transform: translate(-1.5rem, -1.5rem);
}

.imgBox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.imgBox img {
  position: relative;
  object-fit: cover;
  resize: both;
}

@media (max-width: 600px) {
  .AboutUsPage-gallery-items .box:hover .imgBox {
    transform: translate(0, -2rem);
  }
}
