@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=PT+Serif&display=swap");

:root {
  /* color */
  --white-color: #ffffff;
  --lightgreen-color: #619a46;
  --goldish-color: #cca65d;

  /* fonts */
  --font-inter: "Inter", sans-serif;
  --font-PT-serif: "PT Serif", serif;
}

.course {
  margin-top: 2.5em;
  background-color: #f8f8f8;
  background-image: url("/Hotel\ Wallpaper\ Pattern.png");
  background-repeat: no-repeat;
}
.course-headerpage {
  padding: 2em;
}
.course-header h1 {
  color: var(--lightgreen-color);
  font-family: var(--font-PT-serif);
  font-size: 40px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  margin-top: 30px;
}

.course-desc {
  color: #747373;
  font-family: var(--font-inter);
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  margin-bottom: 30px;
}

.portfolio {
  padding: 45px 20px;
  margin-top: -30px;
}

#portfolio-flters {
  padding: 0;
  margin: -15px 0 25px 0;
  list-style: none;
  font-size: 0;
  text-align: center;
  background-color: var(--white-color);
}

#portfolio-flters li {
  position: relative;
  color: var(--goldish-color);
  font-family: var(--font-PT-serif);
  font-size: 20px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  cursor: pointer;
  display: inline-block;
  justify-content: space-between;
  margin: 5px;
  padding: 8px 15px;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.3s;
}
#portfolio-flters li::after {
  content: "";
  position: absolute;
  left: 9px;
  top: 42px;
  width: 90%;
  height: 5px;
  background-color: var(--lightgreen-color);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
#portfolio-flters li:hover::after {
  transform: scaleX(1);
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
}

.portfolio-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  width: 21em;
  height: auto;
  padding: 0.2em;
  margin-top: 1.5em;
}
.portfolio-modal-images {
  position: relative;
  width: auto;
  height: 15em;
  padding: 10px;
  border-radius: 20px;
  transform: translate(0, 0);
  transition: 0.3s;
}
.portfolio-modal-images:hover {
  transform: translate(0, -10px);
  transition: 0.3s;
}

.portfolio-title,
.course-cardmodal-title {
  position: relative;
  height: 52px;
  overflow-y: hidden;
  padding: 3px;
  color: var(--goldish-color);
  font-family: var(--font-PT-serif);
  font-size: 20px;
  font-style: normal;
  text-transform: capitalize;
  transition: 0.5s ease;
  font-weight: 450;
}
.portfolio-title:hover {
  color: black;
}

.portfolio-text {
  color: #747373;
  text-align: left;
  padding: auto;
  width: 100%;
  height: 80px;
  font-family: var(--font-inter);
  font-size: 18px;
  content: normal;
  overflow-y: hidden;
  font-weight: 300;
}
.course-modalitems {
  padding: 1em;
}
.course-cardmodal-desc {
  margin-top: 10px;
  margin: 5px;
  font-size: 16px;
  font-family: var(--font-inter);
  font-weight: lighter;
}

.course-data-items {
  margin: 2px;
  margin-left: 8px;
}
.course-data-category,
.course-modal-category {
  background-color: rgb(230, 225, 225);
  font-family: var(--font-inter);
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 400;
  color: black;
}
.course-data-duration,
.course-modal-duration {
  margin: 15px;
  background-color: rgb(230, 225, 225);
  font-family: var(--font-inter);
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 400;
}

.course-cardmodal-text {
  color: #747373;
  text-align: left;
  padding: auto;
  width: 100%;
  font-family: var(--font-inter);
  font-size: 17px;
  content: normal;
  font-weight: 300;
}

.portfolio-btn {
  color: #4f4d4d;
  background-color: rgb(237, 235, 235);
  font-family: var(--font-inter);
  font-size: 18px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  padding: 3px 10px;
  width: 45%;
  border-radius: 8px;
  transform: translate(50%, -50%);
  outline: none;
  border: none;
}
.portfolio-btn:hover {
  background-color: var(--goldish-color) !important;
}
.explore-btn {
  width: 180px;
  height: auto;
  margin: auto;
  background: #cca65d;
  padding: 3px 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}
.explore-btn:hover {
  background-color: #dbb061;
}
.explore-btn h5 {
  font-family: var(--font-inter);
  color: #ffffff;
  margin-top: 5px;
  font-size: 16px;
}

@media (max-width: 759px) {
  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .portfolio-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1em;
    gap: 20px;
  }
  .portfolio-card {
    width: 20em;
  }
  .course-header h1 {
    font-size: 30px;
  }
  .course-desc {
    font-size: 18px;
  }
  .explore-btn {
    width: 150px;
    height: auto;
    margin: auto;
    margin-top: auto;
    background: #cca65d;
    padding: 4px 0px;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
  }
  .explore-btn h5 {
    color: #ffffff;
    font-size: 14px;
  }
}

@media (min-width: 760px) and (max-width: 1200px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .explore-btn {
    width: 200px;
    height: auto;
    margin: auto;
    background: #cca65d;
    padding: 5px 20px;
    margin-top: 5px;
    text-align: center;
    border-radius: 5px;
  }
  .explore-btn h5 {
    color: #ffffff;
    font-size: 14px;
  }
}

@media (min-width: 1001px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
